In [79]:
import pyodbc 
import pandas as pd
import keyring
import getpass
import logging
import numpy as np

print("Ingrese usuario")
usuario = keyring.set_password('almacen', 'usuario', getpass.getpass())

print("Ingrese clave")
clave = keyring.set_password('almacen', 'clave', getpass.getpass())

'''
Otros posibles nombres de servidores pueden ser
servidor = 'localhost\sqlexpress' # para casos específicos
servidor = 'miservidor,puerto' # para especificar un puerto alterno
'''
servidor = '10.0.201.2'  # Nombre del servidor SQL con el cual se hará la conexión
bddatos = 'S1085f1a'  # Nombre de la base de datos SQL

try:
    connection = pyodbc.connect(
        driver='{iSeries Access ODBC Driver}',
        system=servidor,
        uid= keyring.get_password('almacen', 'usuario'),
        pwd=keyring.get_password('almacen', 'clave'))
    print("Conexión establecida")
except pyodbc.OperationalError as err:
    logging.warning(f"{err}\nVerifique conexión VPN")
except pyodbc.DataError as err:
    logging.warning(err)
except pyodbc.IntegrityError as err:
    logging.warning(err)
except pyodbc.ProgrammingError as err:
    logging.warning(err)
except pyodbc.NotSupportedError as err:
    logging.warning(err)
except pyodbc.DatabaseError as err:
    logging.warning(err)
except pyodbc.Error as err:
    logging.warning(err.args[1])

Ingrese usuario

 ····

Ingrese clave

 ··········

Conexión establecida

In [41]:
maquery = "with pagares2021 as (select concred_codcli, count(distinct periodo) meses_credito, count(periodo) pagares from modelos.base_vigentes where periodo >= 202104 group by concred_codcli having count(distinct periodo) = 8 and count(distinct periodo) = count(periodo) order by 1), temp as (select a.codcli, digits(b.servic) || digits(b.moneda) || digits(b.numope) pagare, b.tasade, (case b.TIFEPA when 0 then 'Frecuencia Fija' else 'Día Fijo Mensual' end) Modalidad_pago, (case b.plapag when 5 then 'Cuota Variable' else 'Cuota Fija' end) Tipo_plan_pagos , (case b.PAGAUT when 0 then 'No es LA' else 'Si es LA' end) LA, (select count(*) from siafd.f7101 d where d.codcli = a.codcli and d.flgdoc = 0 and d.situac = 1) pagares, c.meses_credito, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 4 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_abr21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 5 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_may21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 6 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_jun21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 7 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_jul21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 8 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_ago21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 9 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_sep21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 10 AND CODEMP = 103 AND CTACBE LIKE '14_1%') deuda_oct21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 4 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_abr21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 5 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_may21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 6 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_jun21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 7 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_jul21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 8 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_ago21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 9 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_sep21, (select sum(d.saldeu) from sofiah.a5811 d where d.coddeu = a.codsbs and d.AÑOREP = 2021 AND MESREP = 10 AND CODEMP = 103 AND CTACBE LIKE '14_8%') dev_oct21 from siafd.f5101 a left join siafd.f7101 b on a.codcli = b.codcli join pagares2021 c on a.codcli = c.concred_codcli where b.flgdoc = 0 and b.situac = 1 and b.AÑODES = 2021 AND b.mesdes = 04 and b.aÑOcan = 0) select * from temp where pagares = 1 and tasade > 0 and deuda_abr21 > deuda_may21 and deuda_may21 > deuda_jun21 and deuda_jun21 > deuda_jul21 and deuda_jul21 > deuda_ago21 and deuda_ago21 > deuda_sep21 and deuda_sep21 > deuda_oct21"
16182478,127936200,188595413

In [2]:
query = """
with pagares2021 as (select concred_codcli, count(distinct periodo) meses_credito, count(periodo) pagares
                     from modelos.base_vigentes
                     where periodo >= 202104 and periodo <=202111
                     group by concred_codcli
                     having count(distinct periodo) = 8
                        and count(distinct periodo) = count(periodo)
                     order by 1),
     temp as (select a.codcli,
                     digits(b.servic) || digits(b.moneda) || digits(b.numope)                  pagare,
                     b.tasade,
                     (case b.TIFEPA when 0 then 'Frecuencia Fija' else 'Día Fijo Mensual' end) Modalidad_pago,
                     (case b.plapag when 5 then 'Cuota Variable' else 'Cuota Fija' end)        Tipo_plan_pagos,
                     (case b.PAGAUT when 0 then 'No es LA' else 'Si es LA' end)                LA,
                     (select count(*)
                      from siafd.f7101 d
                      where d.codcli = a.codcli and d.flgdoc = 0 and d.situac = 1)             pagares,
                     c.meses_credito,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 4
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_abr21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 5
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_may21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 6
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_jun21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 7
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_jul21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 8
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_ago21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 9
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_sep21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 10
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_1%')                                               deuda_oct21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 4
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_abr21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 5
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_may21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 6
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_jun21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 7
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_jul21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 8
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_ago21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 9
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_sep21,
                     (select sum(d.saldeu)
                      from sofiah.a5811 d
                      where d.coddeu = a.codsbs
                        and d.AÑOREP = 2021
                        AND MESREP = 10
                        AND CODEMP = 103
                        AND CTACBE LIKE '14_8%')                                               dev_oct21
              from siafd.f5101 a
                       left join siafd.f7101 b on a.codcli = b.codcli
                       join pagares2021 c on a.codcli = c.concred_codcli
              where b.flgdoc = 0
                and b.situac = 1
                and b.AÑODES = 2021
                AND b.mesdes = 04
                and b.aÑOcan = 0)
select *
from temp
where pagares = 1
  and tasade > 0
  and deuda_abr21 > deuda_may21
  and deuda_may21 > deuda_jun21
  and deuda_jun21 > deuda_jul21
  and deuda_jul21 > deuda_ago21
  and deuda_ago21 > deuda_sep21
  and deuda_sep21 > deuda_oct21
"""

In [4]:
df = pd.read_sql_query(query,connection)
df.head()

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,DEUDA_AGO21,DEUDA_SEP21,DEUDA_OCT21,DEV_ABR21,DEV_MAY21,DEV_JUN21,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21
0,26260582.0,080019976972,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9747.14,...,9017.58,8765.19,8499.86,58.47,78.45,62.65,74.57,72.58,64.11,68.41
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,8092.26,7592.74,7082.46,132.87,133.07,120.47,119.76,112.94,100.89,94.11
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,2844.16,2523.08,2192.61,83.10,56.42,48.76,47.46,40.16,35.62,33.04
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,2100.60,1859.23,1612.02,39.59,34.58,29.82,28.96,24.44,21.63,20.01
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,1666.01,1575.35,1479.07,41.95,42.67,36.34,38.96,37.03,33.04,32.87

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODCLI           2517 non-null   float64
 1   PAGARE           2517 non-null   object
 2   TASADE           2517 non-null   float64
 3   MODALIDAD_PAGO   2517 non-null   object
 4   TIPO_PLAN_PAGOS  2517 non-null   object
 5   LA               2517 non-null   object
 6   PAGARES          2517 non-null   int64
 7   MESES_CREDITO    2517 non-null   int64
 8   DEUDA_ABR21      2517 non-null   float64
 9   DEUDA_MAY21      2517 non-null   float64
 10  DEUDA_JUN21      2517 non-null   float64
 11  DEUDA_JUL21      2517 non-null   float64
 12  DEUDA_AGO21      2517 non-null   float64
 13  DEUDA_SEP21      2517 non-null   float64
 14  DEUDA_OCT21      2517 non-null   float64
 15  DEV_ABR21        2486 non-null   float64
 16  DEV_MAY21        2430 non-null   float64
 17  DEV_JUN21        2429 non-null   float64
 18  DEV_JUL21        2433 non-null   float64
 19  DEV_AGO21        2417 non-null   float64
 20  DEV_SEP21        2409 non-null   float64
 21  DEV_OCT21        2388 non-null   float64
dtypes: float64(16), int64(2), object(4)
memory usage: 432.7+ KB

In [8]:
df.describe()

,CODCLI,TASADE,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,DEUDA_JUN21,DEUDA_JUL21,DEUDA_AGO21,DEUDA_SEP21,DEUDA_OCT21,DEV_ABR21,DEV_MAY21,DEV_JUN21,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21
count,2.517000e+03,2517.000000,2517.0,2517.0,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2486.000000,2430.000000,2429.000000,2433.000000,2417.000000,2409.000000,2388.000000
mean,1.952681e+07,42.111931,1.0,8.0,9998.626397,9588.465232,9160.105224,8747.322058,8338.946992,7922.739515,7483.715836,107.030961,108.665399,96.356566,98.303547,92.547365,82.618518,80.682391
std,7.049458e+06,14.206282,0.0,0.0,21758.257683,21213.174647,20642.363564,20203.916983,19794.440375,19401.605916,19013.851929,143.764870,146.784309,133.118848,139.546368,138.659648,130.086263,132.242104
min,2.363000e+03,8.500000,1.0,8.0,180.000000,179.690000,179.370000,179.340000,178.620000,170.880000,156.320000,0.830000,1.580000,0.930000,0.400000,1.000000,0.380000,0.280000
25%,1.541280e+07,33.010000,1.0,8.0,2000.000000,1864.330000,1724.560000,1577.790000,1427.970000,1272.090000,1109.110000,33.660000,33.805000,28.730000,28.570000,25.630000,21.670000,20.027500
50%,2.222756e+07,43.000000,1.0,8.0,4000.000000,3717.510000,3430.290000,3130.470000,2841.020000,2537.230000,2217.640000,62.125000,61.275000,52.980000,52.340000,47.430000,40.650000,37.860000
75%,2.535434e+07,50.100000,1.0,8.0,10000.000000,9110.690000,8269.100000,7530.000000,6923.680000,6185.040000,5499.220000,117.290000,118.647500,103.730000,103.630000,97.640000,85.070000,82.165000
max,2.629792e+07,89.000000,1.0,8.0,350000.000000,343139.820000,337756.000000,331932.210000,326292.510000,320588.180000,314699.440000,1745.400000,1787.590000,1749.510000,1832.750000,1840.370000,1915.570000,1998.780000

In [113]:
#Importante: reemplazamos por 0 los valores nulos
dataset = df.fillna(0)

In [114]:
dataset.head()

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,DEUDA_AGO21,DEUDA_SEP21,DEUDA_OCT21,DEV_ABR21,DEV_MAY21,DEV_JUN21,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21
0,26260582.0,080019976972,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9747.14,...,9017.58,8765.19,8499.86,58.47,78.45,62.65,74.57,72.58,64.11,68.41
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,8092.26,7592.74,7082.46,132.87,133.07,120.47,119.76,112.94,100.89,94.11
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,2844.16,2523.08,2192.61,83.10,56.42,48.76,47.46,40.16,35.62,33.04
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,2100.60,1859.23,1612.02,39.59,34.58,29.82,28.96,24.44,21.63,20.01
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,1666.01,1575.35,1479.07,41.95,42.67,36.34,38.96,37.03,33.04,32.87

In [115]:
dataset.describe()

,CODCLI,TASADE,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,DEUDA_JUN21,DEUDA_JUL21,DEUDA_AGO21,DEUDA_SEP21,DEUDA_OCT21,DEV_ABR21,DEV_MAY21,DEV_JUN21,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21
count,2.517000e+03,2517.000000,2517.0,2517.0,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000
mean,1.952681e+07,42.111931,1.0,8.0,9998.626397,9588.465232,9160.105224,8747.322058,8338.946992,7922.739515,7483.715836,105.712741,104.909384,92.987723,95.022857,88.870473,79.073504,76.547298
std,7.049458e+06,14.206282,0.0,0.0,21758.257683,21213.174647,20642.363564,20203.916983,19794.440375,19401.605916,19013.851929,143.363483,145.584378,131.962926,138.329010,137.073797,128.360677,130.030724
min,2.363000e+03,8.500000,1.0,8.0,180.000000,179.690000,179.370000,179.340000,178.620000,170.880000,156.320000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.541280e+07,33.010000,1.0,8.0,2000.000000,1864.330000,1724.560000,1577.790000,1427.970000,1272.090000,1109.110000,32.850000,31.820000,26.560000,26.890000,24.200000,19.660000,17.860000
50%,2.222756e+07,43.000000,1.0,8.0,4000.000000,3717.510000,3430.290000,3130.470000,2841.020000,2537.230000,2217.640000,61.370000,58.910000,50.850000,50.630000,45.720000,38.530000,35.800000
75%,2.535434e+07,50.100000,1.0,8.0,10000.000000,9110.690000,8269.100000,7530.000000,6923.680000,6185.040000,5499.220000,116.370000,113.680000,100.150000,100.790000,93.230000,81.370000,77.270000
max,2.629792e+07,89.000000,1.0,8.0,350000.000000,343139.820000,337756.000000,331932.210000,326292.510000,320588.180000,314699.440000,1745.400000,1787.590000,1749.510000,1832.750000,1840.370000,1915.570000,1998.780000

In [35]:
#Fórmula general para calcular la fecha de pago estimada la cual obtiene como parametros:
#-Saldo en el periodo 1
#-Interes devengado en el periodo 1
#-Numero de días que tiene el mes del periodo 1
#-Saldo en el periodo 2
#-Interes devengado en el periodo 2
#-Numero de días que tiene el mes del periodo 2
import numpy as np

def get_fpago (s1,d1,N1,s2,d2,N2):
    if s1 == 0 or s2 ==0:
        return 0
    else:
        return np.round((np.log(d2/s2 + 1)*N1 - np.log(d1/s1 + 1)*N2)/(np.log(d2/s2 + 1)-np.log(d1/s1 + 1)),0)

In [117]:
#Calculamos la fecha de pago entre los periodos que tenemos disponibles (por ahora en duro)
dataset['fpago_abr_may'] = dataset.apply(lambda x : get_fpago(x['DEUDA_ABR21'],x['DEV_ABR21'],30,x['DEUDA_MAY21'],x['DEV_MAY21'],31),axis=1)
dataset['fpago_may_jun'] = dataset.apply(lambda x : get_fpago(x['DEUDA_MAY21'],x['DEV_MAY21'],31,x['DEUDA_JUN21'],x['DEV_JUN21'],30),axis=1)
dataset['fpago_jun_jul'] = dataset.apply(lambda x : get_fpago(x['DEUDA_JUN21'],x['DEV_JUN21'],30,x['DEUDA_JUL21'],x['DEV_JUL21'],31),axis=1)
dataset['fpago_jul_ago'] = dataset.apply(lambda x : get_fpago(x['DEUDA_JUL21'],x['DEV_JUL21'],31,x['DEUDA_AGO21'],x['DEV_AGO21'],31),axis=1)
dataset['fpago_ago_sep'] = dataset.apply(lambda x : get_fpago(x['DEUDA_AGO21'],x['DEV_AGO21'],31,x['DEUDA_SEP21'],x['DEV_SEP21'],30),axis=1)
dataset['fpago_sep_oct'] = dataset.apply(lambda x : get_fpago(x['DEUDA_SEP21'],x['DEV_SEP21'],30,x['DEUDA_OCT21'],x['DEV_OCT21'],31),axis=1)

<ipython-input-116-3922dcbbfe89>:11: RuntimeWarning: invalid value encountered in double_scalars
  return np.round((np.log(d2/s2 + 1)*N1 - np.log(d1/s1 + 1)*N2)/(np.log(d2/s2 + 1)-np.log(d1/s1 + 1)),0)

In [118]:
#Importante reemplazamos por 0 los valores nulos
dataset = dataset.fillna(0)

In [119]:
dataset[dataset["CODCLI"]==26194059]

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21,fpago_abr_may,fpago_may_jun,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct
1984,26194059.0,080019871022,43.41,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1859.5,...,41.34,37.32,30.63,28.86,5.0,5.0,5.0,31.0,18.0,18.0

In [120]:
dataset.tail(10)

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,DEV_JUL21,DEV_AGO21,DEV_SEP21,DEV_OCT21,fpago_abr_may,fpago_may_jun,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct
2507,23474336.0,080019896731,60.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1860.55,...,21.78,19.05,14.72,13.20,32.0,25.0,25.0,31.0,20.0,20.0
2508,23551276.0,077012266900,35.08,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1500.0,1391.64,...,22.65,19.52,17.29,15.02,8.0,8.0,8.0,31.0,-6399.0,333394.0
2509,24460673.0,077012275830,43.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,5000.0,4786.92,...,82.82,78.46,66.18,69.24,12.0,12.0,12.0,31.0,22.0,21.0
2510,12133472.0,080019927962,49.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2500.0,2327.45,...,37.39,33.81,28.31,26.21,14.0,14.0,14.0,31.0,14.0,14.0
2511,19407330.0,073012128630,42.58,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2500.0,2323.89,...,40.93,36.94,31.25,27.21,10.0,10.0,10.0,31.0,10.0,-9826.0
2512,6660053.0,080019973532,60.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1500.0,1424.39,...,0.00,0.00,0.00,0.00,31.0,0.0,0.0,0.0,0.0,0.0
2513,26207827.0,073012129200,45.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1000.0,930.14,...,17.19,15.53,13.14,11.45,10.0,10.0,10.0,31.0,10.0,-12138.0
2514,24876802.0,071014209610,27.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2763.57,...,40.18,36.10,30.69,27.64,28.0,5.0,5.0,31.0,5.0,5.0
2515,24798402.0,073012127940,43.08,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3833.58,...,73.50,69.63,62.49,58.56,14571.0,10.0,10.0,31.0,10.0,6933.0
2516,24474003.0,080019909181,30.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,20000.0,19362.04,...,279.30,268.96,245.98,235.66,10.0,10.0,10.0,31.0,10.0,-209364.0

In [121]:
lista = [5,6,8,31,5,6]
listatrun = [x for i,x in enumerate(lista) if i!=3]
listatrun

[5, 6, 8, 5, 6]

In [122]:
#Función para encontrar la fecha de pago optima basada en 2 criterios:
#Elegir la fecha calculada que más se repite (Siempre y cuando sea más de la mitad)
#Elegir la fecha calculada mínima (Siempre y cuando sea mayor a 0)
from scipy import stats as st
def fpagocomun (*arguments):
    fechas = []
    for fecha in arguments:
        fechas.append(fecha)
    fechas_truncate = [x for i,x in enumerate(fechas) if i!=3] #Excluimos de encontrar la moda al indice 3 que corresponde al calculo entre julio-agosto
    moda=st.mode(fechas_truncate)
    valor_frecuente = moda[0].item(0)
    frecuencia = moda[1].item(0)
    #Calculamos el valor mínimo mayor a 0
    fehasmayores0 = list(filter(lambda x: x > 0, fechas))
    valor_minimo = min(fehasmayores0,default=None)    
    
    
    #Si una fecha de pago se repite al menos la mitad de veces se considerará como fecha de pago
    if frecuencia >= len (fechas)/2:
        indice_val_frecuente = [i for i, n in enumerate(fechas) if n==valor_frecuente][-1]
        return valor_frecuente ,indice_val_frecuente,"moda" #fechas.index(valor_frecuente)
    
    #De lo contrario se consideará el valor mínimo que sea mayor a 0
    else:
        indice_val_minimo = [i for i, n in enumerate(fechas) if n==valor_minimo][-1] if len(fehasmayores0)>0 else None
        return valor_minimo , indice_val_minimo,"minimo" #(fechas.index(valor_minimo) if len(fehasmayores0)>0 else None) #Por verificar
        #return None

In [123]:
lista = [4,5,4,5,6,3,6,2,2,2,3,2,2,2]
moda = st.mode(lista)
lista.index(2)
dato = None

In [124]:
list(filter(lambda c: 'fpago' in c, dataset.columns.tolist()))

['fpago_abr_may',
 'fpago_may_jun',
 'fpago_jun_jul',
 'fpago_jul_ago',
 'fpago_ago_sep',
 'fpago_sep_oct']

In [125]:
#Calculamos la fecha de pago óptima a partir de las fechas de pagos calculadas previamente
dataset['fe_pago_frecuente'] = dataset.apply(lambda x: fpagocomun(x['fpago_abr_may'],x['fpago_may_jun'],x['fpago_jun_jul'],x['fpago_jul_ago'],x['fpago_ago_sep'],x['fpago_sep_oct']),axis=1)

In [126]:
dataset.head()

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,DEV_AGO21,DEV_SEP21,DEV_OCT21,fpago_abr_may,fpago_may_jun,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct,fe_pago_frecuente
0,26260582.0,080019976972,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9747.14,...,72.58,64.11,68.41,27.0,25.0,25.0,31.0,20.0,20.0,"(20.0, 5, minimo)"
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,112.94,100.89,94.11,10.0,10.0,10.0,31.0,10.0,-213278.0,"(10.0, 4, moda)"
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,40.16,35.62,33.04,34.0,15.0,15.0,31.0,-5665.0,15.0,"(15.0, 5, moda)"
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,24.44,21.63,20.01,47.0,15.0,15.0,31.0,-12653.0,15.0,"(15.0, 5, moda)"
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,37.03,33.04,32.87,13.0,22.0,22.0,31.0,13.0,13.0,"(13.0, 5, moda)"

In [127]:
#Optamos mejor por tener las fechas de pago calculadas en una sola columna dentro de una lista, al igual que la deuda y los intereses devengados, para facilitar su cálculo
dataset['lista_pago_frecuente'] = dataset[['fpago_abr_may','fpago_may_jun','fpago_jun_jul','fpago_jul_ago','fpago_ago_sep','fpago_sep_oct']].values.tolist()
dataset['lista_deuda'] = dataset.filter(like='DEUDA_', axis=1).values.tolist()
dataset['lista_dev'] = dataset.filter(like='DEV_', axis=1).values.tolist()

In [128]:
#Por ahora agregamos en duro el número de días que tiene cada mes
n_dias = [30,31,30,31,31,30,31]
dataset['n_dias'] = [n_dias for _ in range(len(df))]

In [129]:
dataset[dataset['fe_pago_frecuente'].isna()] #207,622
dataset[dataset['fpago_abr_may']<0].head(5)

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,fpago_may_jun,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias
19,26205247.0,080019900841,19.50,Día Fijo Mensual,Cuota Fija,No es LA,1,8,20000.0,19037.89,...,10.0,10.0,31.0,10.0,98868.0,"(10.0, 4, moda)","[-994225.0, 10.0, 10.0, 31.0, 10.0, 98868.0]","[20000.0, 19037.89, 18060.06, 17056.67, 16046....","[208.92, 198.87, 179.63, 178.17, 167.62, 149.3...","[30, 31, 30, 31, 31, 30, 31]"
23,10450241.0,080019941411,42.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,5000.0,4651.66,...,17.0,17.0,31.0,17.0,6845.0,"(17.0, 4, moda)","[-23714.0, 17.0, 17.0, 31.0, 17.0, 6845.0]","[5000.0, 4651.66, 4292.36, 3917.33, 3534.92, 3...","[68.65, 63.87, 54.7, 53.79, 48.53, 40.02, 34.83]","[30, 31, 30, 31, 31, 30, 31]"
33,20499702.0,080019903091,42.30,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2791.40,...,10.0,10.0,31.0,10.0,15289.0,"(10.0, 4, moda)","[-8600.0, 10.0, 10.0, 31.0, 10.0, 15289.0]","[3000.0, 2791.4, 2576.18, 2351.4, 2122.22, 188...","[62.37, 58.04, 50.99, 48.89, 44.12, 37.32, 32.49]","[30, 31, 30, 31, 31, 30, 31]"
66,22867750.0,080019903402,45.08,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2843.44,...,10.0,10.0,31.0,10.0,11184.0,"(10.0, 4, moda)","[-11547.0, 10.0, 10.0, 31.0, 10.0, 11184.0]","[3000.0, 2843.44, 2681.65, 2511.53, 2338.66, 2...","[65.83, 62.4, 56.01, 55.11, 51.32, 45.12, 41.26]","[30, 31, 30, 31, 31, 30, 31]"
68,25800869.0,080019902571,16.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,135000.0,134158.84,...,-229752.0,9.0,31.0,9.0,9.0,"(9.0, 5, moda)","[-277022.0, -229752.0, 9.0, 31.0, 9.0, 9.0]","[135000.0, 134158.84, 133246.3, 132321.63, 131...","[1173.88, 1166.57, 1158.63, 1205.63, 1197.63, ...","[30, 31, 30, 31, 31, 30, 31]"

In [57]:
#Formula para obtener la tea calculada a partir de las fechas de pago seleccionadas como óptimas
def tea_mes_from_list (lista_Saldos,lista_devengados,lista_frec_y_pago,lista_N_dias):
    fpago, index,_ = lista_frec_y_pago
    d = lista_devengados[index+1]
    S = lista_Saldos[index+1]
    p = fpago
    N = lista_N_dias[index+1]
    if p == N or S ==0:
        return None
    else:
        return np.round(np.power(d/S + 1, 360/(N-p))-1,4)*100

In [131]:
#Calculamos la tea 
dataset['tea_frecuente'] = dataset.apply(lambda x : tea_mes_from_list(x['lista_deuda'],x['lista_dev'],x['fe_pago_frecuente'],x['n_dias']),axis=1)

In [132]:
dataset.head()

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente
0,26260582.0,080019976972,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9747.14,...,25.0,31.0,20.0,20.0,"(20.0, 5, minimo)","[27.0, 25.0, 25.0, 31.0, 20.0, 20.0]","[10000.0, 9747.14, 9519.73, 9264.14, 9017.58, ...","[58.47, 78.45, 62.65, 74.57, 72.58, 64.11, 68.41]","[30, 31, 30, 31, 31, 30, 31]",30.00
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,10.0,31.0,10.0,-213278.0,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -213278.0]","[10000.0, 9534.57, 9066.13, 8581.24, 8092.26, ...","[132.87, 133.07, 120.47, 119.76, 112.94, 100.8...","[30, 31, 30, 31, 31, 30, 31]",26.82
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,15.0,31.0,-5665.0,15.0,"(15.0, 5, moda)","[34.0, 15.0, 15.0, 31.0, -5665.0, 15.0]","[4000.0, 3744.43, 3453.36, 3150.08, 2844.16, 2...","[83.1, 56.42, 48.76, 47.46, 40.16, 35.62, 33.04]","[30, 31, 30, 31, 31, 30, 31]",40.01
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,15.0,31.0,-12653.0,15.0,"(15.0, 5, moda)","[47.0, 15.0, 15.0, 31.0, -12653.0, 15.0]","[3000.0, 2785.29, 2562.75, 2332.55, 2100.6, 18...","[39.59, 34.58, 29.82, 28.96, 24.44, 21.63, 20.01]","[30, 31, 30, 31, 31, 30, 31]",31.99
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,22.0,31.0,13.0,13.0,"(13.0, 5, moda)","[13.0, 22.0, 22.0, 31.0, 13.0, 13.0]","[2000.0, 1919.91, 1841.74, 1753.24, 1666.01, 1...","[41.95, 42.67, 36.34, 38.96, 37.03, 33.04, 32.87]","[30, 31, 30, 31, 31, 30, 31]",55.21

In [133]:
#Agrupamos las teas calculadas para poder calcular el porcentaje de acierto. considerando que una tea con +- 0.05 es correcta
dataset['dif_tea_frec'] = dataset['tea_frecuente'] - dataset['TASADE']
bins_tea=[-np.inf,-0.049,0.05,np.inf]
labels_tea=['< -0.05', '+- 0.05','> 0.05']
dataset['group_dif_tea_frec'] = pd.cut(dataset['dif_tea_frec'], bins = bins_tea, labels = labels_tea)

In [134]:
dataset['group_dif_tea_frec'].value_counts(normalize=True)

+- 0.05    0.905578
> 0.05     0.058566
< -0.05    0.035857
Name: group_dif_tea_frec, dtype: float64

In [135]:
dataset.groupby(['TIPO_PLAN_PAGOS','LA','group_dif_tea_frec']).agg({'CODCLI':'count'})

                                             CODCLI
TIPO_PLAN_PAGOS LA       group_dif_tea_frec
Cuota Fija      No es LA < -0.05                 86
                         +- 0.05               2218
                         > 0.05                 115
                Si es LA < -0.05                  4
                         +- 0.05                 50
                         > 0.05                  30
Cuota Variable  No es LA < -0.05                  0
                         +- 0.05                  5
                         > 0.05                   2
                Si es LA < -0.05                  0
                         +- 0.05                  0
                         > 0.05                   0

In [136]:
c =dataset.groupby(['TIPO_PLAN_PAGOS','LA','group_dif_tea_frec']).agg({'CODCLI':'count'})
c / c.groupby(level=1).sum()

                                               CODCLI
TIPO_PLAN_PAGOS LA       group_dif_tea_frec
Cuota Fija      No es LA < -0.05             0.035449
                         +- 0.05             0.914262
                         > 0.05              0.047403
                Si es LA < -0.05             0.047619
                         +- 0.05             0.595238
                         > 0.05              0.357143
Cuota Variable  No es LA < -0.05             0.000000
                         +- 0.05             0.002061
                         > 0.05              0.000824
                Si es LA < -0.05             0.000000
                         +- 0.05             0.000000
                         > 0.05              0.000000

In [137]:
dataset[dataset['group_dif_tea_frec']!='+- 0.05']

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,fpago_ago_sep,fpago_sep_oct,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec
14,26026032.0,080019878121,21.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,45000.0,42807.50,...,18.0,18.0,"(18.0, 5, moda)","[18.0, 5.0, 5.0, 31.0, 18.0, 18.0]","[45000.0, 42807.5, 40627.71, 38387.14, 36130.5...","[575.51, 593.41, 541.39, 532.13, 500.85, 432.9...","[30, 31, 30, 31, 31, 30, 31]",46.41,25.41,> 0.05
15,21657123.0,080019873671,42.59,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.95,...,18.0,18.0,"(18.0, 5, moda)","[18.0, 5.0, 5.0, 31.0, 18.0, 18.0]","[3000.0, 2785.95, 2571.33, 2347.18, 2118.56, 1...","[71.81, 72.31, 64.14, 60.92, 54.99, 45.12, 42.5]","[30, 31, 30, 31, 31, 30, 31]",103.31,60.72,> 0.05
20,17135112.0,077012279680,52.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1861.15,...,13.0,24.0,"(22.0, 2, moda)","[22.0, 22.0, 22.0, 31.0, 13.0, 24.0]","[2000.0, 1861.15, 1724.31, 1575.78, 1425.91, 1...","[37.63, 39.44, 32.44, 33.39, 30.21, 24.66, 24.15]","[30, 31, 30, 31, 31, 30, 31]",131.34,79.24,> 0.05
24,14314768.0,080019876591,20.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,23000.0,22192.10,...,18.0,18.0,"(18.0, 5, moda)","[18.0, 5.0, 5.0, 31.0, 18.0, 18.0]","[23000.0, 22192.1, 21395.63, 20574.34, 19750.9...","[281.27, 294.15, 272.62, 272.71, 261.79, 231.4...","[30, 31, 30, 31, 31, 30, 31]",44.00,24.00,> 0.05
29,19370712.0,080019878052,42.60,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3879.84,...,18.0,18.0,"(18.0, 5, moda)","[18.0, 5.0, 5.0, 31.0, 18.0, 18.0]","[4000.0, 3879.84, 3764.19, 3640.93, 3517.67, 3...","[95.76, 100.72, 93.92, 94.52, 91.32, 81.26, 84...","[30, 31, 30, 31, 31, 30, 31]",103.35,60.75,> 0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480,14037586.0,080019908642,43.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1000.0,958.61,...,0.0,0.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1000.0, 958.61, 883.97, 807.94, 729.47, 647.7...","[20.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-43.00,< -0.05
2488,8861781.0,073012143530,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2777.25,...,20.0,20.0,"(25.0, 2, moda)","[25.0, 25.0, 25.0, 31.0, 20.0, 20.0]","[3000.0, 2777.25, 2556.0, 2323.4, 2089.23, 184...","[19.74, 22.35, 16.82, 18.7, 16.82, 13.53, 12.9]","[30, 31, 30, 31, 31, 30, 31]",61.77,31.77,> 0.05
2496,23402939.0,080019991111,55.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1883.34,...,0.0,0.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1883.34, 1741.49, 1598.74, 1446.06, 1...","[14.68, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-55.10,< -0.05
2499,26269385.0,080019990651,27.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9655.59,...,15.0,13.0,"(13.0, 5, minimo)","[28.0, 34.0, 22.0, 31.0, 15.0, 13.0]","[10000.0, 9655.59, 9297.73, 8953.08, 8614.09, ...","[47.01, 74.92, 96.87, 105.0, 100.64, 90.43, 91...","[30, 31, 30, 31, 31, 30, 31]",25.86,-1.24,< -0.05
2512,6660053.0,080019973532,60.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1500.0,1424.39,...,0.0,0.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1500.0, 1424.39, 1318.68, 1210.49, 1097.73, 9...","[15.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-60.10,< -0.05

In [138]:
# Marcamos el metodo de calculo utilizado para conocer su efectivdad
dataset["metodo"] = dataset['fe_pago_frecuente'].str[2]

In [139]:
#Asi mismo ponemos en una columna aparte la fecha elegida para medir la efectividad
dataset["fecha_sel"] = dataset['fe_pago_frecuente'].str[0]

In [140]:
#la efectividad obtenida con el calculo minimo mejora
dataset[dataset["metodo"]=="minimo"]["group_dif_tea_frec"].value_counts(normalize = True)

+- 0.05    0.908065
> 0.05     0.079032
< -0.05    0.012903
Name: group_dif_tea_frec, dtype: float64

In [141]:
dataset[(dataset['group_dif_tea_frec']=='+- 0.05') & (dataset["metodo"]=='moda')]

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -213278.0]","[10000.0, 9534.57, 9066.13, 8581.24, 8092.26, ...","[132.87, 133.07, 120.47, 119.76, 112.94, 100.8...","[30, 31, 30, 31, 31, 30, 31]",26.82,0.000000e+00,+- 0.05,moda,10.0
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,"(15.0, 5, moda)","[34.0, 15.0, 15.0, 31.0, -5665.0, 15.0]","[4000.0, 3744.43, 3453.36, 3150.08, 2844.16, 2...","[83.1, 56.42, 48.76, 47.46, 40.16, 35.62, 33.04]","[30, 31, 30, 31, 31, 30, 31]",40.01,1.000000e-02,+- 0.05,moda,15.0
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,"(15.0, 5, moda)","[47.0, 15.0, 15.0, 31.0, -12653.0, 15.0]","[3000.0, 2785.29, 2562.75, 2332.55, 2100.6, 18...","[39.59, 34.58, 29.82, 28.96, 24.44, 21.63, 20.01]","[30, 31, 30, 31, 31, 30, 31]",31.99,-1.000000e-02,+- 0.05,moda,15.0
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,"(13.0, 5, moda)","[13.0, 22.0, 22.0, 31.0, 13.0, 13.0]","[2000.0, 1919.91, 1841.74, 1753.24, 1666.01, 1...","[41.95, 42.67, 36.34, 38.96, 37.03, 33.04, 32.87]","[30, 31, 30, 31, 31, 30, 31]",55.21,0.000000e+00,+- 0.05,moda,13.0
6,3131025.0,080019916311,43.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,5000.0,4672.09,...,"(18.0, 5, moda)","[34.0, 18.0, -57446.0, 31.0, 18.0, 18.0]","[5000.0, 4672.09, 4312.53, 3941.41, 3554.21, 3...","[85.17, 60.74, 51.72, 47.27, 46.2, 37.88, 35.71]","[30, 31, 30, 31, 31, 30, 31]",43.00,0.000000e+00,+- 0.05,moda,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,19407330.0,073012128630,42.58,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2500.0,2323.89,...,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -9826.0]","[2500.0, 2323.89, 2144.77, 1957.71, 1766.93, 1...","[49.76, 48.59, 42.69, 40.93, 36.94, 31.25, 27.21]","[30, 31, 30, 31, 31, 30, 31]",42.58,0.000000e+00,+- 0.05,moda,10.0
2513,26207827.0,073012129200,45.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,1000.0,930.14,...,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -12138.0]","[1000.0, 930.14, 859.04, 784.64, 708.69, 630.2...","[20.86, 20.38, 17.92, 17.19, 15.53, 13.14, 11.45]","[30, 31, 30, 31, 31, 30, 31]",44.98,-2.000000e-02,+- 0.05,moda,10.0
2514,24876802.0,071014209610,27.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2763.57,...,"(5.0, 5, moda)","[28.0, 5.0, 5.0, 31.0, 5.0, 5.0]","[3000.0, 2763.57, 2538.89, 2307.57, 2073.03, 1...","[36.07, 48.12, 42.49, 40.18, 36.1, 30.69, 27.64]","[30, 31, 30, 31, 31, 30, 31]",27.00,0.000000e+00,+- 0.05,moda,5.0
2515,24798402.0,073012127940,43.08,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3833.58,...,"(10.0, 4, moda)","[14571.0, 10.0, 10.0, 31.0, 10.0, 6933.0]","[4000.0, 3833.58, 3661.81, 3480.66, 3297.54, 3...","[84.47, 80.95, 73.61, 73.5, 69.63, 62.49, 58.56]","[30, 31, 30, 31, 31, 30, 31]",43.08,0.000000e+00,+- 0.05,moda,10.0
2516,24474003.0,080019909181,30.10,Día Fijo Mensual,Cuota Fija,No es LA,1,8,20000.0,19362.04,...,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -209364.0]","[20000.0, 19362.04, 18724.42, 18057.1, 17388.4...","[294.52, 299.49, 275.73, 279.3, 268.96, 245.98...","[30, 31, 30, 31, 31, 30, 31]",30.10,-3.552714e-15,+- 0.05,moda,10.0

In [142]:
#Optamos por crear una función que mejor tome la fecha de pago mínima que sea mayor a 0
from scipy import stats as st
def minimo (fechas):
    fechas_truncate = [x for i,x in enumerate(fechas) if i!=3] #Excluimos de encontrar la moda al indice 3 que corresponde al calculo entre julio-agosto

    #Calculamos el valor mínimo mayor a 0
    fehasmayores0 = list(filter(lambda x: x > 0, fechas))
    valor_minimo = min(fehasmayores0,default=None)    

    indice_val_minimo = [i for i, n in enumerate(fechas) if n==valor_minimo][-1] if len(fehasmayores0)>0 else None
    return valor_minimo  #(fechas.index(valor_minimo) if len(fehasmayores0)>0 else None) #Por verificar
        #return None

In [143]:
#Agremamos la fecha de pago optima2 a partir de la fuincion de fecha de pago minima
dataset['fecha_min'] = dataset.apply(lambda x : minimo(x['lista_pago_frecuente']),axis=1)

In [144]:
#Solo para comparar agregamos una columna que indique si la fecha optima anterior es igual al a fecha optima2
dataset['fechasel_fechamin'] = dataset['fecha_min']==dataset['fecha_sel']

In [145]:
dataset.head()

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel,fecha_min,fechasel_fechamin
0,26260582.0,080019976972,30.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9747.14,...,"[10000.0, 9747.14, 9519.73, 9264.14, 9017.58, ...","[58.47, 78.45, 62.65, 74.57, 72.58, 64.11, 68.41]","[30, 31, 30, 31, 31, 30, 31]",30.00,0.00,+- 0.05,minimo,20.0,20.0,True
1,4215125.0,077012272390,26.82,Día Fijo Mensual,Cuota Fija,No es LA,1,8,10000.0,9534.57,...,"[10000.0, 9534.57, 9066.13, 8581.24, 8092.26, ...","[132.87, 133.07, 120.47, 119.76, 112.94, 100.8...","[30, 31, 30, 31, 31, 30, 31]",26.82,0.00,+- 0.05,moda,10.0,10.0,True
2,24088847.0,077012269280,40.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,4000.0,3744.43,...,"[4000.0, 3744.43, 3453.36, 3150.08, 2844.16, 2...","[83.1, 56.42, 48.76, 47.46, 40.16, 35.62, 33.04]","[30, 31, 30, 31, 31, 30, 31]",40.01,0.01,+- 0.05,moda,15.0,15.0,True
3,24182380.0,080019916301,32.00,Día Fijo Mensual,Cuota Fija,No es LA,1,8,3000.0,2785.29,...,"[3000.0, 2785.29, 2562.75, 2332.55, 2100.6, 18...","[39.59, 34.58, 29.82, 28.96, 24.44, 21.63, 20.01]","[30, 31, 30, 31, 31, 30, 31]",31.99,-0.01,+- 0.05,moda,15.0,15.0,True
4,22191616.0,080019919812,55.21,Día Fijo Mensual,Cuota Fija,No es LA,1,8,2000.0,1919.91,...,"[2000.0, 1919.91, 1841.74, 1753.24, 1666.01, 1...","[41.95, 42.67, 36.34, 38.96, 37.03, 33.04, 32.87]","[30, 31, 30, 31, 31, 30, 31]",55.21,0.00,+- 0.05,moda,13.0,13.0,True

In [146]:
#Verificamos el numero de fechas de pago frecuente con el metodo minimo es el mismo que el 2do metodo
dataset[(dataset['group_dif_tea_frec']=='+- 0.05') & (dataset["metodo"]=='minimo')]['fechasel_fechamin'].value_counts()

True    563
Name: fechasel_fechamin, dtype: int64

In [148]:
#Verificamos que casi todas las que fueron calculados con el metodo de moda da el mismo resultado que las del calculo con el metodo del minimo. a excepcion de 4 que serán revisadas
dataset[(dataset['group_dif_tea_frec']=='+- 0.05') & (dataset["metodo"]=='moda')]['fechasel_fechamin'].value_counts()

True     1706
False       4
Name: fechasel_fechamin, dtype: int64

In [149]:
dataset[(dataset['group_dif_tea_frec']=='+- 0.05') & (dataset["metodo"]=='moda')& (dataset["fechasel_fechamin"]==False)].iloc[:,24:]
#solo el cliente 75782 sale una tea incorrecta al considerar la fecha minima como la seleccionada
#Por lo tanto se utilizará la fecha de pago mínima calculada  de los 7 últimos meses para estimar la tea

,fpago_jun_jul,fpago_jul_ago,fpago_ago_sep,fpago_sep_oct,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel,fecha_min,fechasel_fechamin
192,14.0,31.0,14.0,14.0,"(14.0, 5, moda)","[13.0, 22.0, 14.0, 31.0, 14.0, 14.0]","[5000.0, 4113.96, 3798.71, 3453.15, 3096.04, 2...","[140.17, 122.22, 100.15, 96.81, 86.8, 71.71, 6...","[30, 31, 30, 31, 31, 30, 31]",79.60,0.01,+- 0.05,moda,14.0,13.0,False
945,14.0,31.0,13.0,13.0,"(14.0, 2, moda)","[14.0, 14.0, 14.0, 31.0, 13.0, 13.0]","[1870.0, 1814.15, 1805.79, 1783.45, 1778.41, 1...","[44.42, 45.82, 42.89, 45.04, 47.59, 44.65, 46.23]","[30, 31, 30, 31, 31, 30, 31]",69.58,-0.01,+- 0.05,moda,14.0,13.0,False
1068,30.0,31.0,0.0,30.0,"(30.0, 5, moda)","[16.0, 30.0, 30.0, 31.0, 0.0, 30.0]","[10000.0, 9366.43, 8092.05, 7446.06, 6798.9, 6...","[76.33, 76.45, 0.0, 1.95, 0.0, 0.0, 1.44]","[30, 31, 30, 31, 31, 30, 31]",9.92,0.02,+- 0.05,moda,30.0,16.0,False
2294,17.0,31.0,16.0,16.0,"(17.0, 2, moda)","[17.0, 17.0, 17.0, 31.0, 16.0, 16.0]","[736.0, 735.96, 735.91, 735.87, 735.82, 734.96...","[14.95, 16.11, 14.95, 16.11, 17.27, 16.09, 17.25]","[30, 31, 30, 31, 31, 30, 31]",74.52,0.00,+- 0.05,moda,17.0,16.0,False

In [156]:
dataset[dataset.index== 2294]

,CODCLI,PAGARE,TASADE,MODALIDAD_PAGO,TIPO_PLAN_PAGOS,LA,PAGARES,MESES_CREDITO,DEUDA_ABR21,DEUDA_MAY21,...,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel,fecha_min,fechasel_fechamin
2294,1650254.0,070011560211,74.52,Frecuencia Fija,Cuota Fija,Si es LA,1,8,736.0,735.96,...,"[736.0, 735.96, 735.91, 735.87, 735.82, 734.96...","[14.95, 16.11, 14.95, 16.11, 17.27, 16.09, 17.25]","[30, 31, 30, 31, 31, 30, 31]",74.52,0.0,+- 0.05,moda,17.0,16.0,False

In [157]:
#Optimizamos la función de calculo de fecha de pago. la cual devolverá la fecha de pago, el índice donde se encuentra y el metodo de calculo
from scipy import stats as st
def fpagominima (fechas):   
      
    #Calculamos el valor mínimo mayor a 0
    fehasmayores0 = list(filter(lambda x: x > 0, fechas))
    valor_minimo = min(fehasmayores0,default=0)    

    indice_val_minimo = [i for i, n in enumerate(fechas) if n==valor_minimo][-1] if len(fehasmayores0)>0 else 0 #último ínidce
    return valor_minimo , indice_val_minimo ,"minimo"

In [158]:
dataset['fec_sel_min_indice'] = dataset.apply(lambda x : fpagominima(x['lista_pago_frecuente']),axis=1)

In [159]:
dataset.iloc[:,29:41].head()
dataset.iloc[:,np.r_[0:1,28:41]].head()

,CODCLI,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel,fecha_min,fechasel_fechamin,fec_sel_min_indice
0,26260582.0,"(20.0, 5, minimo)","[27.0, 25.0, 25.0, 31.0, 20.0, 20.0]","[10000.0, 9747.14, 9519.73, 9264.14, 9017.58, ...","[58.47, 78.45, 62.65, 74.57, 72.58, 64.11, 68.41]","[30, 31, 30, 31, 31, 30, 31]",30.00,0.00,+- 0.05,minimo,20.0,20.0,True,"(20.0, 5, minimo)"
1,4215125.0,"(10.0, 4, moda)","[10.0, 10.0, 10.0, 31.0, 10.0, -213278.0]","[10000.0, 9534.57, 9066.13, 8581.24, 8092.26, ...","[132.87, 133.07, 120.47, 119.76, 112.94, 100.8...","[30, 31, 30, 31, 31, 30, 31]",26.82,0.00,+- 0.05,moda,10.0,10.0,True,"(10.0, 4, minimo)"
2,24088847.0,"(15.0, 5, moda)","[34.0, 15.0, 15.0, 31.0, -5665.0, 15.0]","[4000.0, 3744.43, 3453.36, 3150.08, 2844.16, 2...","[83.1, 56.42, 48.76, 47.46, 40.16, 35.62, 33.04]","[30, 31, 30, 31, 31, 30, 31]",40.01,0.01,+- 0.05,moda,15.0,15.0,True,"(15.0, 5, minimo)"
3,24182380.0,"(15.0, 5, moda)","[47.0, 15.0, 15.0, 31.0, -12653.0, 15.0]","[3000.0, 2785.29, 2562.75, 2332.55, 2100.6, 18...","[39.59, 34.58, 29.82, 28.96, 24.44, 21.63, 20.01]","[30, 31, 30, 31, 31, 30, 31]",31.99,-0.01,+- 0.05,moda,15.0,15.0,True,"(15.0, 5, minimo)"
4,22191616.0,"(13.0, 5, moda)","[13.0, 22.0, 22.0, 31.0, 13.0, 13.0]","[2000.0, 1919.91, 1841.74, 1753.24, 1666.01, 1...","[41.95, 42.67, 36.34, 38.96, 37.03, 33.04, 32.87]","[30, 31, 30, 31, 31, 30, 31]",55.21,0.00,+- 0.05,moda,13.0,13.0,True,"(13.0, 5, minimo)"

In [160]:
np.round((np.log(74.57/9264.14 + 1)*30 - np.log(62.65/9519.73 + 1)*31)/(np.log(74.57/9264.14 + 1)-np.log(62.65/9519.73 + 1)),0)

25.0

In [161]:
dataset[dataset.CODCLI==26260582.0].T

                                                                      0
CODCLI                                                       26260582.0
PAGARE                                                     080019976972
TASADE                                                             30.0
MODALIDAD_PAGO                                         Día Fijo Mensual
TIPO_PLAN_PAGOS                                              Cuota Fija
LA                                                             No es LA
PAGARES                                                               1
MESES_CREDITO                                                         8
DEUDA_ABR21                                                     10000.0
DEUDA_MAY21                                                     9747.14
DEUDA_JUN21                                                     9519.73
DEUDA_JUL21                                                     9264.14
DEUDA_AGO21                                                     9017.58
DEUDA_SEP21                                                     8765.19
DEUDA_OCT21                                                     8499.86
DEV_ABR21                                                         58.47
DEV_MAY21                                                         78.45
DEV_JUN21                                                         62.65
DEV_JUL21                                                         74.57
DEV_AGO21                                                         72.58
DEV_SEP21                                                         64.11
DEV_OCT21                                                         68.41
fpago_abr_may                                                      27.0
fpago_may_jun                                                      25.0
fpago_jun_jul                                                      25.0
fpago_jul_ago                                                      31.0
fpago_ago_sep                                                      20.0
fpago_sep_oct                                                      20.0
fe_pago_frecuente                                     (20.0, 5, minimo)
lista_pago_frecuente               [27.0, 25.0, 25.0, 31.0, 20.0, 20.0]
lista_deuda           [10000.0, 9747.14, 9519.73, 9264.14, 9017.58, ...
lista_dev             [58.47, 78.45, 62.65, 74.57, 72.58, 64.11, 68.41]
n_dias                                     [30, 31, 30, 31, 31, 30, 31]
tea_frecuente                                                      30.0
dif_tea_frec                                                        0.0
group_dif_tea_frec                                              +- 0.05
metodo                                                           minimo
fecha_sel                                                          20.0
fecha_min                                                          20.0
fechasel_fechamin                                                  True
fec_sel_min_indice                                    (20.0, 5, minimo)

In [162]:
dataset[dataset['fec_sel_min_indice'].str[0].isnull()]#.iloc[:,24:]

Empty DataFrame
Columns: [CODCLI, PAGARE, TASADE, MODALIDAD_PAGO, TIPO_PLAN_PAGOS, LA, PAGARES, MESES_CREDITO, DEUDA_ABR21, DEUDA_MAY21, DEUDA_JUN21, DEUDA_JUL21, DEUDA_AGO21, DEUDA_SEP21, DEUDA_OCT21, DEV_ABR21, DEV_MAY21, DEV_JUN21, DEV_JUL21, DEV_AGO21, DEV_SEP21, DEV_OCT21, fpago_abr_may, fpago_may_jun, fpago_jun_jul, fpago_jul_ago, fpago_ago_sep, fpago_sep_oct, fe_pago_frecuente, lista_pago_frecuente, lista_deuda, lista_dev, n_dias, tea_frecuente, dif_tea_frec, group_dif_tea_frec, metodo, fecha_sel, fecha_min, fechasel_fechamin, fec_sel_min_indice]
Index: []

[0 rows x 41 columns]

In [163]:
#Calculamos la tea a partir de la última fecha de pago optima(minima)
dataset['tea_seleccionada'] = dataset.apply(lambda x : tea_mes_from_list(x['lista_deuda'],x['lista_dev'],x['fec_sel_min_indice'],x['n_dias']),axis=1)

In [164]:
dataset['dif_tea_sel'] = dataset['tea_seleccionada'] - dataset['TASADE']
bins_tea=[-np.inf,-0.049,0.05,np.inf]
labels_tea=['< -0.05', '+- 0.05','> 0.05']
dataset['group_dif_tea_sel'] = pd.cut(dataset['dif_tea_sel'], bins = bins_tea, labels = labels_tea)

In [165]:
dataset['group_dif_tea_sel'].value_counts(normalize=True)

+- 0.05    0.965363
> 0.05     0.024450
< -0.05    0.010187
Name: group_dif_tea_sel, dtype: float64

In [166]:
dataset.groupby(['TIPO_PLAN_PAGOS','LA','group_dif_tea_sel']).agg({'CODCLI':'count'})

                                            CODCLI
TIPO_PLAN_PAGOS LA       group_dif_tea_sel
Cuota Fija      No es LA < -0.05                21
                         +- 0.05              2313
                         > 0.05                 29
                Si es LA < -0.05                 4
                         +- 0.05                51
                         > 0.05                 29
Cuota Variable  No es LA < -0.05                 0
                         +- 0.05                 5
                         > 0.05                  2
                Si es LA < -0.05                 0
                         +- 0.05                 0
                         > 0.05                  0

In [169]:
dataset[(dataset['group_dif_tea_sel']!='+- 0.05')&(dataset['TIPO_PLAN_PAGOS']=='Cuota Fija')&(dataset['LA']=='No es LA')].iloc[:50,np.r_[0:1,28:44]]

,CODCLI,fe_pago_frecuente,lista_pago_frecuente,lista_deuda,lista_dev,n_dias,tea_frecuente,dif_tea_frec,group_dif_tea_frec,metodo,fecha_sel,fecha_min,fechasel_fechamin,fec_sel_min_indice,tea_seleccionada,dif_tea_sel,group_dif_tea_sel
39,26268168.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1868.77, 1716.09, 1561.36, 1403.17, 1...","[9.62, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-28.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
62,22743384.0,"(28.0, 5, minimo)","[30.0, 29.0, 28.0, 31.0, 33.0, 28.0]","[6000.0, 5674.85, 5124.7, 4667.6, 4081.86, 359...","[5.37, 56.12, 27.58, 37.74, 18.3, 22.61, 27.89]","[30, 31, 30, 31, 31, 30, 31]",192.62,154.62,> 0.05,minimo,28.0,28.0,True,"(28.0, 5, minimo)",192.62,154.62,> 0.05
64,23702673.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1844.32, 1663.87, 1479.41, 1290.41, 1...","[6.21, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.08,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
73,5054621.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1874.71, 1732.47, 1587.2, 1436.45, 12...","[4.67, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-52.10,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
84,12856920.0,"(20.0, 4, minimo)","[27.0, 25.0, 25.0, 31.0, 20.0, 46.0]","[80000.0, 77111.35, 74335.49, 71405.68, 68504....","[294.79, 390.97, 308.23, 362.04, 347.33, 302.1...","[30, 31, 30, 31, 31, 30, 31]",18.00,3.50,> 0.05,minimo,20.0,20.0,True,"(20.0, 4, minimo)",18.00,3.50,> 0.05
173,28800.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2500.0, 2304.24, 2107.11, 1906.83, 1705.72, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-14.70,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-14.70,< -0.05
177,26242541.0,"(22.0, 4, minimo)","[50.0, 27.0, 23.0, 31.0, 22.0, 23.0]","[5700.0, 3760.63, 3552.07, 3315.35, 3073.57, 2...","[82.56, 51.71, 34.89, 37.08, 34.49, 28.04, 28.87]","[30, 31, 30, 31, 31, 30, 31]",56.05,-4.05,< -0.05,minimo,22.0,22.0,True,"(22.0, 4, minimo)",56.05,-4.05,< -0.05
189,12091192.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[4000.0, 3765.76, 3464.92, 3162.33, 2845.7, 25...","[50.33, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-35.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
224,24502724.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1000.0, 920.28, 830.3, 738.33, 644.09, 544.49...","[1.03, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
236,24777669.0,"(14.0, 2, moda)","[14.0, 14.0, 14.0, 31.0, -4.0, -14.0]","[200000.0, 198867.56, 197783.84, 196631.85, 19...","[849.0, 897.07, 839.59, 886.99, 1840.37, 1777....","[30, 31, 30, 31, 31, 30, 31]",10.00,1.50,> 0.05,moda,14.0,14.0,True,"(14.0, 2, minimo)",10.00,1.50,> 0.05
262,23886090.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1000.0, 961.36, 889.69, 816.36, 741.11, 659.6...","[18.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-58.50,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
272,25078365.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1500.0, 1421.41, 1309.64, 1195.9, 1078.73, 95...","[21.18, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-40.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
315,13294534.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[18000.0, 17265.56, 16410.41, 15560.67, 14668....","[74.21, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-28.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
319,20010010.0,"(20.0, 4, minimo)","[30.0, 25.0, 25.0, 31.0, 20.0, 29.0]","[10000.0, 9469.8, 9013.96, 8528.12, 8044.53, 7...","[0.0, 71.36, 55.54, 64.26, 60.62, 51.87, 101.18]","[30, 31, 30, 31, 31, 30, 31]",27.93,0.08,> 0.05,minimo,20.0,20.0,True,"(20.0, 4, minimo)",27.93,0.08,> 0.05
369,43608.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[10000.0, 9536.51, 9000.14, 8458.1, 7902.41, 7...","[31.02, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-32.15,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
378,25175956.0,"(29.0, 5, minimo)","[31.0, 31.0, 32.0, 31.0, 29.0, 29.0]","[6000.0, 5239.93, 4965.43, 4128.19, 3836.61, 2...","[132.11, 28.61, 114.86, 45.2, 114.48, 48.43, 9...","[30, 31, 30, 31, 31, 30, 31]",52886.99,52856.99,> 0.05,minimo,29.0,29.0,True,"(29.0, 5, minimo)",52886.99,52856.99,> 0.05
383,24687155.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[10000.0, 9701.6, 9256.58, 8817.21, 8344.74, 7...","[109.89, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-43.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
429,23439972.0,"(22.0, 4, minimo)","[29.0, 25.0, 25.0, 31.0, 22.0, 28.0]","[15000.0, 14466.84, 13983.4, 13460.95, 12946.6...","[57.89, 102.52, 81.03, 95.39, 91.75, 81.84, 11...","[30, 31, 30, 31, 31, 30, 31]",32.84,6.84,> 0.05,minimo,22.0,22.0,True,"(22.0, 4, minimo)",32.84,6.84,> 0.05
450,5705371.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[15000.0, 14805.93, 14529.3, 14257.85, 13979.5...","[34.89, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-32.15,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
471,25634322.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[3000.0, 2881.09, 2721.48, 2562.86, 2390.78, 2...","[22.67, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-57.10,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
506,25087623.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[10000.0, 9153.32, 8257.34, 7350.47, 6396.18, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.08,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-45.08,< -0.05
524,22443739.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2325.21, 2149.86, 1961.43, 1771.41, 1575.06, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.01,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-45.01,< -0.05
539,26290295.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1868.39, 1723.75, 1576.32, 1423.95, 1...","[2.07, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.20,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
568,26297915.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1867.2, 1723.25, 1576.46, 1424.63, 12...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-46.59,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-46.59,< -0.05
580,18411040.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[10000.0, 9598.98, 9139.91, 8676.95, 8201.61, ...","[16.48, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-34.49,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
585,25946146.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[5000.0, 4798.91, 4573.25, 4349.92, 4111.69, 3...","[8.95, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-38.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
596,10211581.0,"(14.0, 5, minimo)","[23.0, 15.0, 15.0, 31.0, 82427.0, 14.0]","[35000.0, 34307.64, 33649.54, 32953.56, 32289....","[325.65, 365.06, 335.56, 350.65, 322.0, 314.78...","[30, 31, 30, 31, 31, 30, 31]",25.05,-1.84,< -0.05,minimo,14.0,14.0,True,"(14.0, 5, minimo)",25.05,-1.84,< -0.05
607,19516326.0,"(0.0, 5, moda)","[0.0, 0.0, 30.0, 31.0, 0.0, 0.0]","[170000.0, 157937.91, 137559.95, 124812.15, 11...","[0.0, 0.0, 0.0, 729.09, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-10.00,< -0.05,moda,0.0,30.0,False,"(30.0, 2, minimo)",714.03,704.03,> 0.05
608,10766060.0,"(10.0, 4, moda)","[295.0, 10.0, 10.0, 31.0, 10.0, -17394.0]","[15000.0, 11918.17, 11413.87, 10883.01, 10347....","[297.96, 235.84, 214.98, 215.38, 204.79, 184.5...","[30, 31, 30, 31, 31, 30, 31]",39.92,-0.18,< -0.05,moda,10.0,10.0,True,"(10.0, 4, minimo)",39.92,-0.18,< -0.05
612,23220474.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2000.0, 1878.28, 1732.84, 1584.59, 1433.12, 1...","[6.21, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-45.08,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
621,22232290.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[5000.0, 4690.8, 4337.47, 3981.9, 3601.59, 320...","[18.29, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-55.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
644,26262925.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1500.0, 1400.25, 1286.61, 1172.35, 1053.49, 9...","[8.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-30.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
660,25837789.0,"(4.0, 2, minimo)","[5.0, 5.0, 4.0, 31.0, 18.0, 18.0]","[540.0, 497.81, 455.32, 412.15, 368.65, 324.77...","[5.17, 4.96, 4.36, 4.1, 3.67, 2.98, 2.79]","[30, 31, 30, 31, 31, 30, 31]",14.11,-0.59,< -0.05,minimo,4.0,4.0,True,"(4.0, 2, minimo)",14.11,-0.59,< -0.05
671,26227348.0,"(20.0, 5, minimo)","[31.0, 31.0, 35.0, 31.0, 413.0, 20.0]","[35000.0, 34510.69, 31994.79, 31278.66, 30521....","[15.27, 0.0, 203.96, 158.65, 141.84, 138.5, 14...","[30, 31, 30, 31, 31, 30, 31]",18.16,1.16,> 0.05,minimo,20.0,20.0,True,"(20.0, 5, minimo)",18.16,1.16,> 0.05
673,22547844.0,"(12.0, 4, minimo)","[-18816.0, 15.0, -13.0, 31.0, 12.0, 189.0]","[10000.0, 9244.68, 8476.2, 8269.69, 7477.52, 6...","[85.45, 79.0, 67.88, 67.79, 89.13, 75.66, 66.36]","[30, 31, 30, 31, 31, 30, 31]",25.16,4.06,> 0.05,minimo,12.0,12.0,True,"(12.0, 4, minimo)",25.16,4.06,> 0.05
777,24333060.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[45000.0, 43708.06, 42057.98, 40422.96, 38730....","[271.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-15.50,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
788,23953072.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[7000.0, 6511.29, 5991.21, 5462.81, 4920.12, 4...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-35.00,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-35.00,< -0.05
805,12405170.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[10000.0, 9766.83, 9416.92, 9071.99, 8709.88, ...","[94.34, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-22.00,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
827,15399511.0,"(8.0, 2, minimo)","[19.0, 8.0, 8.0, 31.0, -29381.0, 38872.0]","[2000.0, 1860.28, 1720.33, 1573.19, 1424.71, 1...","[47.95, 48.9, 43.23, 41.35, 35.8, 31.84, 27.78]","[30, 31, 30, 31, 31, 30, 31]",50.09,5.09,> 0.05,minimo,8.0,8.0,True,"(8.0, 2, minimo)",50.09,5.09,> 0.05
832,26274931.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[3500.0, 3252.07, 2986.12, 2718.78, 2441.36, 2...","[7.18, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-27.90,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
848,23690705.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[12000.0, 10968.47, 9853.91, 8729.07, 7563.39,...","[34.93, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-29.90,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN
871,26199379.0,"(19.0, 5, minimo)","[31.0, 0.0, 30.0, 31.0, 19.0, 19.0]","[1000.0, 970.12, 898.14, 824.57, 747.79, 666.7...","[27.8, 0.0, 0.0, 26.25, 24.81, 20.32, 19.38]","[30, 31, 30, 31, 31, 30, 31]",166.17,106.17,> 0.05,minimo,19.0,19.0,True,"(19.0, 5, minimo)",166.17,106.17,> 0.05
901,25046889.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[7650.76, 7292.1, 6917.33, 6544.97, 6150.69, 5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-35.00,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-35.00,< -0.05
917,14071989.0,"(20.0, 0, minimo)","[20.0, 26.0, 26.0, 31.0, -0.0, -23.0]","[10000.0, 9515.17, 9032.82, 8527.53, 7916.05, ...","[50.8, 53.18, 41.28, 47.66, 148.22, 134.16, 12...","[30, 31, 30, 31, 31, 30, 31]",20.01,3.01,> 0.05,minimo,20.0,20.0,True,"(20.0, 0, minimo)",20.01,3.01,> 0.05
948,23355108.0,"(0.0, 5, moda)","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[74231.52, 73719.53, 73172.24, 72647.36, 72144...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-14.00,< -0.05,moda,0.0,NaN,False,"(0, 0, minimo)",0.00,-14.00,< -0.05
976,24074072.0,"(10.0, 2, minimo)","[241075.0, 10.0, 10.0, 31.0, 55.0, 689.0]","[15000.0, 13935.49, 12840.86, 11703.38, 11694....","[278.0, 258.27, 226.56, 216.91, 218.96, 205.3,...","[30, 31, 30, 31, 31, 30, 31]",37.00,1.00,> 0.05,minimo,10.0,10.0,True,"(10.0, 2, minimo)",37.00,1.00,> 0.05
982,3297624.0,"(25.0, 1, minimo)","[27.0, 25.0, 26.0, 31.0, -25679.0, 107595.0]","[8000.0, 6885.84, 5768.62, 4776.04, 3806.13, 2...","[57.46, 68.1, 46.64, 47.24, 34.21, 25.48, 22.15]","[30, 31, 30, 31, 31, 30, 31]",78.57,40.57,> 0.05,minimo,25.0,25.0,True,"(25.0, 1, minimo)",78.57,40.57,> 0.05
985,24228401.0,"(31.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 31.0, 31.0]","[16800.0, 16122.05, 15211.43, 14295.37, 13366....","[164.72, 0.0, 0.0, 0.0, 0.0, 34.26, 0.0]","[30, 31, 30, 31, 31, 30, 31]",NaN,NaN,NaN,moda,31.0,31.0,True,"(31.0, 5, minimo)",NaN,NaN,NaN
1003,18460947.0,"(17.0, 2, moda)","[17.0, 17.0, 17.0, 31.0, 6.0, 254.0]","[32019.53, 31360.59, 28308.41, 27601.39, 26647...","[221.17, 233.34, 195.53, 205.37, 431.7, 403.43...","[30, 31, 30, 31, 31, 30, 31]",21.00,1.10,> 0.05,moda,17.0,6.0,False,"(6.0, 4, minimo)",26.06,6.16,> 0.05
1006,3361470.0,"(0.0, 5, moda)","[31.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1000.0, 861.87, 790.03, 716.35, 640.57, 558.8...","[29.14, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30, 31, 30, 31, 31, 30, 31]",0.00,-60.01,< -0.05,moda,0.0,31.0,False,"(31.0, 0, minimo)",NaN,NaN,NaN

In [177]:
dataset[dataset.index ==177].T

                                                                    177
CODCLI                                                       26242541.0
PAGARE                                                     080019956651
TASADE                                                             60.1
MODALIDAD_PAGO                                         Día Fijo Mensual
TIPO_PLAN_PAGOS                                              Cuota Fija
LA                                                             No es LA
PAGARES                                                               1
MESES_CREDITO                                                         8
DEUDA_ABR21                                                      5700.0
DEUDA_MAY21                                                     3760.63
DEUDA_JUN21                                                     3552.07
DEUDA_JUL21                                                     3315.35
DEUDA_AGO21                                                     3073.57
DEUDA_SEP21                                                     2821.59
DEUDA_OCT21                                                     2555.07
DEV_ABR21                                                         82.56
DEV_MAY21                                                         51.71
DEV_JUN21                                                         34.89
DEV_JUL21                                                         37.08
DEV_AGO21                                                         34.49
DEV_SEP21                                                         28.04
DEV_OCT21                                                         28.87
fpago_abr_may                                                      50.0
fpago_may_jun                                                      27.0
fpago_jun_jul                                                      23.0
fpago_jul_ago                                                      31.0
fpago_ago_sep                                                      22.0
fpago_sep_oct                                                      23.0
fe_pago_frecuente                                     (22.0, 4, minimo)
lista_pago_frecuente               [50.0, 27.0, 23.0, 31.0, 22.0, 23.0]
lista_deuda           [5700.0, 3760.63, 3552.07, 3315.35, 3073.57, 2...
lista_dev             [82.56, 51.71, 34.89, 37.08, 34.49, 28.04, 28.87]
n_dias                                     [30, 31, 30, 31, 31, 30, 31]
tea_frecuente                                                     56.05
dif_tea_frec                                                      -4.05
group_dif_tea_frec                                              < -0.05
metodo                                                           minimo
fecha_sel                                                          22.0
fecha_min                                                          22.0
fechasel_fechamin                                                  True
fec_sel_min_indice                                    (22.0, 4, minimo)
tea_seleccionada                                                  56.05
dif_tea_sel                                                       -4.05
group_dif_tea_sel                                               < -0.05

In [232]:
np.round(np.power(35.51/1966.67 + 1, 360/(31-11))-1,4)*100

38.0

In [790]:
dataset.groupby(["metodo",'TIPO_PLAN_PAGOS','LA','group_dif_tea_frec']).agg({'CODCLI':'count'})

                                                    CODCLI
metodo TIPO_PLAN_PAGOS LA       group_dif_tea_frec
minimo Cuota Fija      No es LA < -0.05                  8
                                +- 0.05                647
                                > 0.05                  21
                       Si es LA < -0.05                  5
                                +- 0.05                 58
                                > 0.05                  30
       Cuota Variable  No es LA < -0.05                  0
                                +- 0.05                  2
                                > 0.05                   1
                       Si es LA < -0.05                  0
                                +- 0.05                  0
                                > 0.05                   0
moda   Cuota Fija      No es LA < -0.05                 99
                                +- 0.05               2026
                                > 0.05                 112
                       Si es LA < -0.05                  0
                                +- 0.05                  7
                                > 0.05                   5
       Cuota Variable  No es LA < -0.05                  0
                                +- 0.05                  3
                                > 0.05                   1
                       Si es LA < -0.05                  0
                                +- 0.05                  0
                                > 0.05                   0

In [115]:
registoscaja = """
                select CODDEU,
       PERIODO,
       103 as CODEMP,
       REDESC as TIPCRE,
       MONEDA,
       sum(SALDO) SALDO,
       listagg(saldo,',')saldos,
       count(*) CREDITOS,
       listagg(decimal(TASADE,14,2),',') TEAS,
       decimal((sum(TASADE*saldo)/sum(saldo)),14,2)Ponderada,
       listagg(LA,',') LA
    from MODELOS.BASE_VIGENTES
    where PERIODO between 202101 and 202112 and coddeu <>0
    group by CODDEU,
             PERIODO,
             103,
             REDESC,
             MONEDA
      order by coddeu, periodo,tipcre,moneda
"""

In [116]:
#df_test = pd.read_sql_query(registoscaja,connection)
#df_test.head()

,CODDEU,PERIODO,CODEMP,TIPCRE,MONEDA,SALDO,SALDOS,CREDITOS,TEAS,PONDERADA,LA
0,40185.0,202101,103,9.0,1.0,5467.71,5467.71,1,34.50,34.5,NO
1,40185.0,202102,103,9.0,1.0,5467.71,5467.71,1,34.50,34.5,NO
2,40185.0,202103,103,9.0,1.0,5467.71,5467.71,1,34.50,34.5,NO
3,40185.0,202104,103,9.0,1.0,5467.71,5467.71,1,34.50,34.5,NO
4,40185.0,202105,103,9.0,1.0,5267.71,5267.71,1,34.50,34.5,NO

In [124]:
#df_test[df_test.TIPCRE==13].to_csv('TEAsTEST_CP_2021-REDESC13.csv',index=False)

In [27]:
def tea_mes (S,d,p,N):
    if p == N or S ==0:
        return None
    else:
        return np.round(np.power(d/S + 1, 360/(N-p))-1,4)*100

## Testeando con codigos deudor del rcc

In [80]:
query_test = """select D.CODDEU,
       D.AÑOREP * 10000 + D.MESREP * 100 + D.DIAREP PERIODO,
       D.CODEMP,
       D.TIPCRE,
       substr(CTACBE, 3, 1) MONEDA,
       --CTACBE,
       case
           when D.CTACBE like '14_1%' then 'Saldo'
           when D.CTACBE like '14_8%' then 'IntDev'
       end CTACBE,
       sum(SALDEU) SALDEU
    from SOFIAH.A5811 D
    where D.CODDEU in (154132414,135737844,194496796,16182478,127936200,188595413,123221893,16182478) -- 194496796,16182478,127936200,188595413,123221893,16182478,
          and AÑOREP = 2021
          and (CTACBE like '14_1%'
              or CTACBE like '14_8%') -- and codemp = 55 -- AND CODEMP = 228
    group by D.CODDEU,
             D.AÑOREP * 10000 + D.MESREP * 100 + D.DIAREP,
             D.CODEMP,
             D.TIPCRE,
             substr(CTACBE, 3, 1),
             --CTACBE,
             case
                 when D.CTACBE like '14_1%' then 'Saldo'
                 when D.CTACBE like '14_8%' then 'IntDev'
             end
             ORDER BY 1,2,3,4,5,6,7
             """

In [81]:
df_test = pd.read_sql_query(query_test,connection)
df_test

          CODDEU     PERIODO  CODEMP TIPCRE MONEDA  CTACBE    SALDEU
0     16182478.0  20210131.0   228.0     10      1  IntDev     98.89
1     16182478.0  20210131.0   228.0     10      1   Saldo   4405.00
2     16182478.0  20210228.0   228.0     10      1  IntDev     73.47
3     16182478.0  20210228.0   228.0     10      1   Saldo   3724.03
4     16182478.0  20210331.0   228.0     10      1  IntDev     67.65
..           ...         ...     ...    ...    ...     ...       ...
329  194496796.0  20211031.0     6.0     13      1   Saldo  41364.49
330  194496796.0  20211130.0     6.0     13      1  IntDev    451.04
331  194496796.0  20211130.0     6.0     13      1   Saldo  41307.35
332  194496796.0  20211231.0     6.0     13      1  IntDev     27.99
333  194496796.0  20211231.0     6.0     13      1   Saldo  41205.63

[334 rows x 7 columns]

In [82]:
df_test.query('PERIODO == 20210228 & CODEMP == 73'  ).values

array([[135737844.0, 20210228.0, 73.0, '11', '1', 'IntDev', 15.29],
       [135737844.0, 20210228.0, 73.0, '11', '1', 'Saldo', 612.66],
       [154132414.0, 20210228.0, 73.0, '11', '1', 'IntDev', 4.15],
       [154132414.0, 20210228.0, 73.0, '11', '1', 'Saldo', 412.38]],
      dtype=object)

In [83]:
df_test_pivot = df_test.pivot(index=['CODDEU','CODEMP','TIPCRE','MONEDA'],columns = ['PERIODO','CTACBE'],values = 'SALDEU')

In [84]:
#Configuraciones adicionales
#Mostrar todas las columnas de pandas
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_colwidth', 150)

In [85]:
df_test_pivot = df_test_pivot.fillna(0)
df_test_pivot

PERIODO                          20210131.0            20210228.0             \
CTACBE                               IntDev      Saldo     IntDev      Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           98.89    4405.00      73.47    3724.03
123221893.0 2.0    11     1            0.15       0.00       0.00       0.00
                          2            0.00       0.00       0.00       0.00
            6.0    11     2            0.00       0.00       0.15       0.00
            82.0   11     1            0.00     129.90       0.00      44.90
            110.0  12     1            0.00       0.00       0.00       0.00
            142.0  11     1            0.00      35.59       0.00       0.00
                   12     1            0.00       0.00       0.00       0.00
127936200.0 4.0    12     1            8.00   32381.89       0.00       0.00
            6.0    11     1            0.00       0.00       0.00       0.00
            123.0  13     1         2098.06  158102.14    1596.33  157551.18
            142.0  11     1            0.00     342.64       0.00       0.00
135737844.0 73.0   11     1            0.00     161.19      15.29     612.66
            103.0  12     1            5.47    6285.90       0.00    6169.64
            145.0  11     1            0.00      79.00       0.00      48.20
154132414.0 6.0    11     1            2.74    1514.61       0.37    1274.49
                          2            0.18       8.26       0.00       0.00
            73.0   11     1            7.49     626.09       4.15     412.38
            103.0  12     1           36.38   25132.11      12.84   24402.06
            142.0  11     1            0.00    2818.95       0.00    1211.67
                   12     1            0.00       0.00       0.00       0.00
188595413.0 103.0  10     1           52.19    1753.37      42.21    1605.89
            104.0  10     1           35.51    1966.67      26.75    1745.51
194496796.0 6.0    13     1          470.61   41800.01     427.35   41761.67
            103.0  12     1            1.54    1775.62       0.00    1486.65

PERIODO                          20210331.0           20210430.0            \
CTACBE                               IntDev     Saldo     IntDev     Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           67.65   3013.40      49.39   2292.62
123221893.0 2.0    11     1           14.60   2388.68       0.00      0.00
                          2            0.00      0.00       0.00      0.00
            6.0    11     2            0.00      0.00       0.00      0.00
            82.0   11     1           92.36   4044.90      78.05   3756.39
            110.0  12     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00      0.00       0.00      0.00
                   12     1            1.78   2000.00       0.55   1843.08
127936200.0 4.0    12     1            0.00      0.00       0.00      0.00
            6.0    11     1            0.00      0.00       0.00      0.00
            123.0  13     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00    168.32       0.00    441.13
135737844.0 73.0   11     1            0.78    389.47       0.00      0.00
            103.0  12     1            5.26   6046.92       3.44   5928.51
            145.0  11     1            0.00    320.00       0.00      0.00
154132414.0 6.0    11     1            0.00   1077.05       0.00     10.56
                          2            0.00      0.00       0.23     34.08
            73.0   11     1            2.81    209.01       0.00      0.00
            103.0  12     1           32.55  23642.39      27.37  22894.32
            142.0  11     1            0.00   1030.76       0.00     13.50
                   12     1            0.00      0.00     102.60  13390.00
188595413.0 103.0  10     1           43.08   1447.21      36.86   1288.59
            104.0  10     1           27.32   1513.10      83.16   4000.00
194496796.0 6.0    13     1           28.28  41640.52      14.13  41600.49
            103.0  12     1            1.04   1193.77       0.52    899.55

PERIODO                          20210531.0           20210630.0            \
CTACBE                               IntDev     Saldo     IntDev     Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           34.78   1549.12      16.26    787.85
123221893.0 2.0    11     1            0.00      0.00      36.30    254.92
                          2            0.00      0.00       0.00      0.00
            6.0    11     2            0.00      0.00       0.00      0.00
            82.0   11     1           69.35   3453.57      65.13   3142.05
            110.0  12     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00      0.00       0.00      0.00
                   12     1            1.00   1683.34       0.45   1522.59
127936200.0 4.0    12     1            0.00      0.00       0.00      0.00
            6.0    11     1            0.00      0.00       0.00      0.00
            123.0  13     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00    506.47       0.00   1072.72
135737844.0 73.0   11     1            0.00    237.98       0.00      0.00
            103.0  12     1            5.05   5807.29       3.30   5686.71
            145.0  11     1            0.00    135.00       0.00     96.64
154132414.0 6.0    11     1            0.00      0.00       0.00      0.00
                          2            0.42      5.08       0.00      0.00
            73.0   11     1            0.00      0.00       0.00      0.00
            103.0  12     1           32.92  22135.03      67.32  33075.23
            142.0  11     1            0.00    547.46       0.00    415.07
                   12     1          391.75  13390.00     103.66  11446.92
188595413.0 103.0  10     1            0.00    952.20      27.24    952.20
            104.0  10     1            0.00   3559.14      74.00   3559.14
194496796.0 6.0    13     1           28.22  41545.77      14.09  41504.74
            103.0  12     1            0.52    602.41       0.18    302.85

PERIODO                          20210731.0           20210831.0            \
CTACBE                               IntDev     Saldo     IntDev     Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1          174.60  30000.00     141.70  27835.61
123221893.0 2.0    11     1            0.00    168.09       0.00    168.09
                          2            1.21    149.48       1.22    151.10
            6.0    11     2            0.00      0.00       0.00      0.00
            82.0   11     1            0.00   2457.13       0.00   2083.03
            110.0  12     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00    444.55       0.00      0.00
                   12     1            0.81   1359.74       0.71   1195.75
127936200.0 4.0    12     1            0.00      0.00       0.00      0.00
            6.0    11     1           34.67   2280.80       0.00      0.00
            123.0  13     1            0.00      0.00       0.00      0.00
            142.0  11     1           36.72   1042.95       0.00    334.23
135737844.0 73.0   11     1            0.00      0.00       0.00    439.34
            103.0  12     1            4.84   5563.38       4.73   5440.60
            145.0  11     1            0.00    567.74       6.41    480.73
154132414.0 6.0    11     1            0.00    690.00       2.09    745.63
                          2            0.00      0.00       0.33      8.25
            73.0   11     1           33.01    838.00       0.00     57.26
            103.0  12     1           33.29  32129.14      30.25  31143.82
            142.0  11     1            5.87    983.76       0.50   1146.56
                   12     1            4.43   6362.08      92.93   6063.76
188595413.0 103.0  10     1           23.05    774.39      95.21   4000.00
            104.0  10     1           72.22   3327.63      72.75   3595.72
194496796.0 6.0    13     1           28.15  41449.04      28.12  41406.99
            103.0  12     1            0.00      0.00       0.00      0.00

PERIODO                          20210930.0           20211031.0            \
CTACBE                               IntDev     Saldo     IntDev     Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           93.08  25618.23     101.67  23308.55
123221893.0 2.0    11     1            0.00     15.49       0.00     15.49
                          2            0.00      0.00       0.00      0.00
            6.0    11     2            0.00      0.00       0.00      0.00
            82.0   11     1           43.81   2345.83       0.00   1473.26
            110.0  12     1            0.00      0.00     254.73  35000.00
            142.0  11     1            0.00      0.00       3.21    197.80
                   12     1            0.31   1030.12     298.77  29962.49
127936200.0 4.0    12     1            0.00      0.00       0.00      0.00
            6.0    11     1            0.00      0.00       0.00      0.00
            123.0  13     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00    769.94       0.00    974.40
135737844.0 73.0   11     1           41.94    788.99      50.98    687.83
            103.0  12     1            3.08   5316.71       4.52   5190.15
            145.0  11     1           43.25    196.04       0.00      0.00
154132414.0 6.0    11     1           29.22    885.63      17.63    643.80
                          2            0.00      8.35       0.20     23.46
            73.0   11     1            0.00      0.00       0.00      0.00
            103.0  12     1           10.61  30103.46      30.45  29134.25
            142.0  11     1            0.00    822.90       5.52    716.60
                   12     1            0.00   5294.41       0.00   4898.79
188595413.0 103.0  10     1           81.70   3721.79      78.42   3427.89
            104.0  10     1           66.61   3305.59      60.94   3009.96
194496796.0 6.0    13     1           14.05  41364.49     451.50  41364.49
            103.0  12     1            0.00      0.00       0.00      0.00

PERIODO                          20211130.0           20211231.0
CTACBE                               IntDev     Saldo     IntDev     Saldo
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           91.36  20945.75      94.32  18528.61
123221893.0 2.0    11     1            0.93    400.10       0.00      8.50
                          2            0.00      0.00       0.00      0.00
            6.0    11     2            0.00      0.00       0.00      0.00
            82.0   11     1            0.00   1247.62       0.00    689.69
            110.0  12     1          562.86  35000.00     264.19  34899.02
            142.0  11     1            0.00    163.67       0.00      0.00
                   12     1           12.08  29647.67      23.68  29024.06
127936200.0 4.0    12     1            0.00      0.00       0.00      0.00
            6.0    11     1            0.00      0.00       0.00      0.00
            123.0  13     1            0.00      0.00       0.00      0.00
            142.0  11     1            0.00    464.21       0.00    466.77
135737844.0 73.0   11     1            0.00    245.45       0.00    233.45
            103.0  12     1            2.94   5064.00       4.29   4935.23
            145.0  11     1            0.00   3133.00       0.00    214.33
154132414.0 6.0    11     1            0.00    247.24       2.89    323.88
                          2            0.41     39.68       0.72   1465.78
            73.0   11     1            0.00      0.00      14.99    527.10
            103.0  12     1           20.80  28123.34      28.53  27093.23
            142.0  11     1           11.20    973.70       0.00    530.81
                   12     1            0.00   4490.75       0.00   1048.17
188595413.0 103.0  10     1           68.68   3129.03      64.47   2818.35
            104.0  10     1           54.54   2704.05      48.48   2391.81
194496796.0 6.0    13     1          451.04  41307.35      27.99  41205.63
            103.0  12     1            0.00      0.00       0.00      0.00

In [86]:
tea_mes(3559.14,74,7,30)

38.0

In [87]:
#Estructuramos la tabla de tal forma que todas las columnas sean solamente los saldos y los intereses devengados de todos los periodos
level1 = df_test_pivot.columns.get_level_values(0).astype(int).astype(str)
level2 = df_test_pivot.columns.get_level_values(1)
df_test_pivot.columns = level2+"_"+level1

In [88]:
df_test_pivot

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89         4405.00
123221893.0 2.0    11     1                  0.15            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          129.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00           35.59
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  8.00        32381.89
            6.0    11     1                  0.00            0.00
            123.0  13     1               2098.06       158102.14
            142.0  11     1                  0.00          342.64
135737844.0 73.0   11     1                  0.00          161.19
            103.0  12     1                  5.47         6285.90
            145.0  11     1                  0.00           79.00
154132414.0 6.0    11     1                  2.74         1514.61
                          2                  0.18            8.26
            73.0   11     1                  7.49          626.09
            103.0  12     1                 36.38        25132.11
            142.0  11     1                  0.00         2818.95
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 52.19         1753.37
            104.0  10     1                 35.51         1966.67
194496796.0 6.0    13     1                470.61        41800.01
            103.0  12     1                  1.54         1775.62

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1               1596.33       157551.18
            142.0  11     1                  0.00            0.00
135737844.0 73.0   11     1                 15.29          612.66
            103.0  12     1                  0.00         6169.64
            145.0  11     1                  0.00           48.20
154132414.0 6.0    11     1                  0.37         1274.49
                          2                  0.00            0.00
            73.0   11     1                  4.15          412.38
            103.0  12     1                 12.84        24402.06
            142.0  11     1                  0.00         1211.67
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 42.21         1605.89
            104.0  10     1                 26.75         1745.51
194496796.0 6.0    13     1                427.35        41761.67
            103.0  12     1                  0.00         1486.65

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.78         2000.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          168.32
135737844.0 73.0   11     1                  0.78          389.47
            103.0  12     1                  5.26         6046.92
            145.0  11     1                  0.00          320.00
154132414.0 6.0    11     1                  0.00         1077.05
                          2                  0.00            0.00
            73.0   11     1                  2.81          209.01
            103.0  12     1                 32.55        23642.39
            142.0  11     1                  0.00         1030.76
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 43.08         1447.21
            104.0  10     1                 27.32         1513.10
194496796.0 6.0    13     1                 28.28        41640.52
            103.0  12     1                  1.04         1193.77

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.55         1843.08
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          441.13
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.44         5928.51
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                  0.00           10.56
                          2                  0.23           34.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 27.37        22894.32
            142.0  11     1                  0.00           13.50
                   12     1                102.60        13390.00
188595413.0 103.0  10     1                 36.86         1288.59
            104.0  10     1                 83.16         4000.00
194496796.0 6.0    13     1                 14.13        41600.49
            103.0  12     1                  0.52          899.55

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.00         1683.34
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          506.47
135737844.0 73.0   11     1                  0.00          237.98
            103.0  12     1                  5.05         5807.29
            145.0  11     1                  0.00          135.00
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.42            5.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 32.92        22135.03
            142.0  11     1                  0.00          547.46
                   12     1                391.75        13390.00
188595413.0 103.0  10     1                  0.00          952.20
            104.0  10     1                  0.00         3559.14
194496796.0 6.0    13     1                 28.22        41545.77
            103.0  12     1                  0.52          602.41

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.45         1522.59
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00         1072.72
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.30         5686.71
            145.0  11     1                  0.00           96.64
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            73.0   11     1                  0.00            0.00
            103.0  12     1                 67.32        33075.23
            142.0  11     1                  0.00          415.07
                   12     1                103.66        11446.92
188595413.0 103.0  10     1                 27.24          952.20
            104.0  10     1                 74.00         3559.14
194496796.0 6.0    13     1                 14.09        41504.74
            103.0  12     1                  0.18          302.85

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00          444.55
                   12     1                  0.81         1359.74
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                 34.67         2280.80
            123.0  13     1                  0.00            0.00
            142.0  11     1                 36.72         1042.95
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  4.84         5563.38
            145.0  11     1                  0.00          567.74
154132414.0 6.0    11     1                  0.00          690.00
                          2                  0.00            0.00
            73.0   11     1                 33.01          838.00
            103.0  12     1                 33.29        32129.14
            142.0  11     1                  5.87          983.76
                   12     1                  4.43         6362.08
188595413.0 103.0  10     1                 23.05          774.39
            104.0  10     1                 72.22         3327.63
194496796.0 6.0    13     1                 28.15        41449.04
            103.0  12     1                  0.00            0.00

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.71         1195.75
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          334.23
135737844.0 73.0   11     1                  0.00          439.34
            103.0  12     1                  4.73         5440.60
            145.0  11     1                  6.41          480.73
154132414.0 6.0    11     1                  2.09          745.63
                          2                  0.33            8.25
            73.0   11     1                  0.00           57.26
            103.0  12     1                 30.25        31143.82
            142.0  11     1                  0.50         1146.56
                   12     1                 92.93         6063.76
188595413.0 103.0  10     1                 95.21         4000.00
            104.0  10     1                 72.75         3595.72
194496796.0 6.0    13     1                 28.12        41406.99
            103.0  12     1                  0.00            0.00

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.31         1030.12
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          769.94
135737844.0 73.0   11     1                 41.94          788.99
            103.0  12     1                  3.08         5316.71
            145.0  11     1                 43.25          196.04
154132414.0 6.0    11     1                 29.22          885.63
                          2                  0.00            8.35
            73.0   11     1                  0.00            0.00
            103.0  12     1                 10.61        30103.46
            142.0  11     1                  0.00          822.90
                   12     1                  0.00         5294.41
188595413.0 103.0  10     1                 81.70         3721.79
            104.0  10     1                 66.61         3305.59
194496796.0 6.0    13     1                 14.05        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26
            110.0  12     1                254.73        35000.00
            142.0  11     1                  3.21          197.80
                   12     1                298.77        29962.49
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          974.40
135737844.0 73.0   11     1                 50.98          687.83
            103.0  12     1                  4.52         5190.15
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                 17.63          643.80
                          2                  0.20           23.46
            73.0   11     1                  0.00            0.00
            103.0  12     1                 30.45        29134.25
            142.0  11     1                  5.52          716.60
                   12     1                  0.00         4898.79
188595413.0 103.0  10     1                 78.42         3427.89
            104.0  10     1                 60.94         3009.96
194496796.0 6.0    13     1                451.50        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62
            110.0  12     1                562.86        35000.00
            142.0  11     1                  0.00          163.67
                   12     1                 12.08        29647.67
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          464.21
135737844.0 73.0   11     1                  0.00          245.45
            103.0  12     1                  2.94         5064.00
            145.0  11     1                  0.00         3133.00
154132414.0 6.0    11     1                  0.00          247.24
                          2                  0.41           39.68
            73.0   11     1                  0.00            0.00
            103.0  12     1                 20.80        28123.34
            142.0  11     1                 11.20          973.70
                   12     1                  0.00         4490.75
188595413.0 103.0  10     1                 68.68         3129.03
            104.0  10     1                 54.54         2704.05
194496796.0 6.0    13     1                451.04        41307.35
            103.0  12     1                  0.00            0.00

                                  IntDev_20211231  Saldo_20211231
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69
            110.0  12     1                264.19        34899.02
            142.0  11     1                  0.00            0.00
                   12     1                 23.68        29024.06
127936200.0 4.0    12     1                  0.00            0.00

In [89]:
name_columns = df_test_pivot.columns
days_month_columns = [int(x[-2:]) for x in name_columns]
days_month_columns

[31,
 31,
 28,
 28,
 31,
 31,
 30,
 30,
 31,
 31,
 30,
 30,
 31,
 31,
 31,
 31,
 30,
 30,
 31,
 31,
 30,
 30,
 31,
 31]

In [90]:
print(days_month_columns[0::2])

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [91]:
df_test_pivot['lista_saldos'] = df_test_pivot.filter(like='Saldo_', axis=1).values.tolist()
df_test_pivot['lista_interes_dev'] = df_test_pivot.filter(like='IntDev_', axis=1).values.tolist()
df_test_pivot['n_dias'] = [days_month_columns[0::2] for _ in range(len(df_test_pivot))]

In [92]:
df_test_pivot

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89         4405.00
123221893.0 2.0    11     1                  0.15            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          129.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00           35.59
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  8.00        32381.89
            6.0    11     1                  0.00            0.00
            123.0  13     1               2098.06       158102.14
            142.0  11     1                  0.00          342.64
135737844.0 73.0   11     1                  0.00          161.19
            103.0  12     1                  5.47         6285.90
            145.0  11     1                  0.00           79.00
154132414.0 6.0    11     1                  2.74         1514.61
                          2                  0.18            8.26
            73.0   11     1                  7.49          626.09
            103.0  12     1                 36.38        25132.11
            142.0  11     1                  0.00         2818.95
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 52.19         1753.37
            104.0  10     1                 35.51         1966.67
194496796.0 6.0    13     1                470.61        41800.01
            103.0  12     1                  1.54         1775.62

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1               1596.33       157551.18
            142.0  11     1                  0.00            0.00
135737844.0 73.0   11     1                 15.29          612.66
            103.0  12     1                  0.00         6169.64
            145.0  11     1                  0.00           48.20
154132414.0 6.0    11     1                  0.37         1274.49
                          2                  0.00            0.00
            73.0   11     1                  4.15          412.38
            103.0  12     1                 12.84        24402.06
            142.0  11     1                  0.00         1211.67
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 42.21         1605.89
            104.0  10     1                 26.75         1745.51
194496796.0 6.0    13     1                427.35        41761.67
            103.0  12     1                  0.00         1486.65

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.78         2000.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          168.32
135737844.0 73.0   11     1                  0.78          389.47
            103.0  12     1                  5.26         6046.92
            145.0  11     1                  0.00          320.00
154132414.0 6.0    11     1                  0.00         1077.05
                          2                  0.00            0.00
            73.0   11     1                  2.81          209.01
            103.0  12     1                 32.55        23642.39
            142.0  11     1                  0.00         1030.76
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 43.08         1447.21
            104.0  10     1                 27.32         1513.10
194496796.0 6.0    13     1                 28.28        41640.52
            103.0  12     1                  1.04         1193.77

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.55         1843.08
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          441.13
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.44         5928.51
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                  0.00           10.56
                          2                  0.23           34.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 27.37        22894.32
            142.0  11     1                  0.00           13.50
                   12     1                102.60        13390.00
188595413.0 103.0  10     1                 36.86         1288.59
            104.0  10     1                 83.16         4000.00
194496796.0 6.0    13     1                 14.13        41600.49
            103.0  12     1                  0.52          899.55

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.00         1683.34
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          506.47
135737844.0 73.0   11     1                  0.00          237.98
            103.0  12     1                  5.05         5807.29
            145.0  11     1                  0.00          135.00
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.42            5.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 32.92        22135.03
            142.0  11     1                  0.00          547.46
                   12     1                391.75        13390.00
188595413.0 103.0  10     1                  0.00          952.20
            104.0  10     1                  0.00         3559.14
194496796.0 6.0    13     1                 28.22        41545.77
            103.0  12     1                  0.52          602.41

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.45         1522.59
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00         1072.72
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.30         5686.71
            145.0  11     1                  0.00           96.64
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            73.0   11     1                  0.00            0.00
            103.0  12     1                 67.32        33075.23
            142.0  11     1                  0.00          415.07
                   12     1                103.66        11446.92
188595413.0 103.0  10     1                 27.24          952.20
            104.0  10     1                 74.00         3559.14
194496796.0 6.0    13     1                 14.09        41504.74
            103.0  12     1                  0.18          302.85

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00          444.55
                   12     1                  0.81         1359.74
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                 34.67         2280.80
            123.0  13     1                  0.00            0.00
            142.0  11     1                 36.72         1042.95
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  4.84         5563.38
            145.0  11     1                  0.00          567.74
154132414.0 6.0    11     1                  0.00          690.00
                          2                  0.00            0.00
            73.0   11     1                 33.01          838.00
            103.0  12     1                 33.29        32129.14
            142.0  11     1                  5.87          983.76
                   12     1                  4.43         6362.08
188595413.0 103.0  10     1                 23.05          774.39
            104.0  10     1                 72.22         3327.63
194496796.0 6.0    13     1                 28.15        41449.04
            103.0  12     1                  0.00            0.00

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.71         1195.75
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          334.23
135737844.0 73.0   11     1                  0.00          439.34
            103.0  12     1                  4.73         5440.60
            145.0  11     1                  6.41          480.73
154132414.0 6.0    11     1                  2.09          745.63
                          2                  0.33            8.25
            73.0   11     1                  0.00           57.26
            103.0  12     1                 30.25        31143.82
            142.0  11     1                  0.50         1146.56
                   12     1                 92.93         6063.76
188595413.0 103.0  10     1                 95.21         4000.00
            104.0  10     1                 72.75         3595.72
194496796.0 6.0    13     1                 28.12        41406.99
            103.0  12     1                  0.00            0.00

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.31         1030.12
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          769.94
135737844.0 73.0   11     1                 41.94          788.99
            103.0  12     1                  3.08         5316.71
            145.0  11     1                 43.25          196.04
154132414.0 6.0    11     1                 29.22          885.63
                          2                  0.00            8.35
            73.0   11     1                  0.00            0.00
            103.0  12     1                 10.61        30103.46
            142.0  11     1                  0.00          822.90
                   12     1                  0.00         5294.41
188595413.0 103.0  10     1                 81.70         3721.79
            104.0  10     1                 66.61         3305.59
194496796.0 6.0    13     1                 14.05        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26
            110.0  12     1                254.73        35000.00
            142.0  11     1                  3.21          197.80
                   12     1                298.77        29962.49
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          974.40
135737844.0 73.0   11     1                 50.98          687.83
            103.0  12     1                  4.52         5190.15
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                 17.63          643.80
                          2                  0.20           23.46
            73.0   11     1                  0.00            0.00
            103.0  12     1                 30.45        29134.25
            142.0  11     1                  5.52          716.60
                   12     1                  0.00         4898.79
188595413.0 103.0  10     1                 78.42         3427.89
            104.0  10     1                 60.94         3009.96
194496796.0 6.0    13     1                451.50        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62
            110.0  12     1                562.86        35000.00
            142.0  11     1                  0.00          163.67
                   12     1                 12.08        29647.67
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          464.21
135737844.0 73.0   11     1                  0.00          245.45
            103.0  12     1                  2.94         5064.00
            145.0  11     1                  0.00         3133.00
154132414.0 6.0    11     1                  0.00          247.24
                          2                  0.41           39.68
            73.0   11     1                  0.00            0.00
            103.0  12     1                 20.80        28123.34
            142.0  11     1                 11.20          973.70
                   12     1                  0.00         4490.75
188595413.0 103.0  10     1                 68.68         3129.03
            104.0  10     1                 54.54         2704.05
194496796.0 6.0    13     1                451.04        41307.35
            103.0  12     1                  0.00            0.00

                                  IntDev_20211231  Saldo_20211231  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69
            110.0  12     1                264.19        34899.02
            142.0  11     1                  0.00            0.00
                   12     1                 23.68        29024.06
127936200.0 4.0    12     1                  0.00            0.00

In [93]:
def agruparSaldosDescendentes(lista):
    listaDescensos = []
    listaDescensos.append([])
    listaDescensos[0].append(lista[0])
    numlist, first = 0,0
    
    for j in range(first+1, len(lista)):
        if lista[first] >= lista[j]:
            listaDescensos[numlist].append(lista[j])
        else:
            numlist += 1
            listaDescensos.append([])
            listaDescensos[numlist].append(lista[j])
        first+=1    
    return listaDescensos
#agruparSaldosDescendentes(liston)

In [94]:
df_test_pivot['lista_saldos_desc'] = df_test_pivot["lista_saldos"].apply(agruparSaldosDescendentes)

In [95]:
df_test_pivot

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89         4405.00
123221893.0 2.0    11     1                  0.15            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          129.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00           35.59
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  8.00        32381.89
            6.0    11     1                  0.00            0.00
            123.0  13     1               2098.06       158102.14
            142.0  11     1                  0.00          342.64
135737844.0 73.0   11     1                  0.00          161.19
            103.0  12     1                  5.47         6285.90
            145.0  11     1                  0.00           79.00
154132414.0 6.0    11     1                  2.74         1514.61
                          2                  0.18            8.26
            73.0   11     1                  7.49          626.09
            103.0  12     1                 36.38        25132.11
            142.0  11     1                  0.00         2818.95
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 52.19         1753.37
            104.0  10     1                 35.51         1966.67
194496796.0 6.0    13     1                470.61        41800.01
            103.0  12     1                  1.54         1775.62

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1               1596.33       157551.18
            142.0  11     1                  0.00            0.00
135737844.0 73.0   11     1                 15.29          612.66
            103.0  12     1                  0.00         6169.64
            145.0  11     1                  0.00           48.20
154132414.0 6.0    11     1                  0.37         1274.49
                          2                  0.00            0.00
            73.0   11     1                  4.15          412.38
            103.0  12     1                 12.84        24402.06
            142.0  11     1                  0.00         1211.67
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 42.21         1605.89
            104.0  10     1                 26.75         1745.51
194496796.0 6.0    13     1                427.35        41761.67
            103.0  12     1                  0.00         1486.65

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.78         2000.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          168.32
135737844.0 73.0   11     1                  0.78          389.47
            103.0  12     1                  5.26         6046.92
            145.0  11     1                  0.00          320.00
154132414.0 6.0    11     1                  0.00         1077.05
                          2                  0.00            0.00
            73.0   11     1                  2.81          209.01
            103.0  12     1                 32.55        23642.39
            142.0  11     1                  0.00         1030.76
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 43.08         1447.21
            104.0  10     1                 27.32         1513.10
194496796.0 6.0    13     1                 28.28        41640.52
            103.0  12     1                  1.04         1193.77

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.55         1843.08
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          441.13
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.44         5928.51
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                  0.00           10.56
                          2                  0.23           34.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 27.37        22894.32
            142.0  11     1                  0.00           13.50
                   12     1                102.60        13390.00
188595413.0 103.0  10     1                 36.86         1288.59
            104.0  10     1                 83.16         4000.00
194496796.0 6.0    13     1                 14.13        41600.49
            103.0  12     1                  0.52          899.55

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.00         1683.34
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          506.47
135737844.0 73.0   11     1                  0.00          237.98
            103.0  12     1                  5.05         5807.29
            145.0  11     1                  0.00          135.00
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.42            5.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 32.92        22135.03
            142.0  11     1                  0.00          547.46
                   12     1                391.75        13390.00
188595413.0 103.0  10     1                  0.00          952.20
            104.0  10     1                  0.00         3559.14
194496796.0 6.0    13     1                 28.22        41545.77
            103.0  12     1                  0.52          602.41

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.45         1522.59
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00         1072.72
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.30         5686.71
            145.0  11     1                  0.00           96.64
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            73.0   11     1                  0.00            0.00
            103.0  12     1                 67.32        33075.23
            142.0  11     1                  0.00          415.07
                   12     1                103.66        11446.92
188595413.0 103.0  10     1                 27.24          952.20
            104.0  10     1                 74.00         3559.14
194496796.0 6.0    13     1                 14.09        41504.74
            103.0  12     1                  0.18          302.85

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00          444.55
                   12     1                  0.81         1359.74
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                 34.67         2280.80
            123.0  13     1                  0.00            0.00
            142.0  11     1                 36.72         1042.95
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  4.84         5563.38
            145.0  11     1                  0.00          567.74
154132414.0 6.0    11     1                  0.00          690.00
                          2                  0.00            0.00
            73.0   11     1                 33.01          838.00
            103.0  12     1                 33.29        32129.14
            142.0  11     1                  5.87          983.76
                   12     1                  4.43         6362.08
188595413.0 103.0  10     1                 23.05          774.39
            104.0  10     1                 72.22         3327.63
194496796.0 6.0    13     1                 28.15        41449.04
            103.0  12     1                  0.00            0.00

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.71         1195.75
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          334.23
135737844.0 73.0   11     1                  0.00          439.34
            103.0  12     1                  4.73         5440.60
            145.0  11     1                  6.41          480.73
154132414.0 6.0    11     1                  2.09          745.63
                          2                  0.33            8.25
            73.0   11     1                  0.00           57.26
            103.0  12     1                 30.25        31143.82
            142.0  11     1                  0.50         1146.56
                   12     1                 92.93         6063.76
188595413.0 103.0  10     1                 95.21         4000.00
            104.0  10     1                 72.75         3595.72
194496796.0 6.0    13     1                 28.12        41406.99
            103.0  12     1                  0.00            0.00

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.31         1030.12
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          769.94
135737844.0 73.0   11     1                 41.94          788.99
            103.0  12     1                  3.08         5316.71
            145.0  11     1                 43.25          196.04
154132414.0 6.0    11     1                 29.22          885.63
                          2                  0.00            8.35
            73.0   11     1                  0.00            0.00
            103.0  12     1                 10.61        30103.46
            142.0  11     1                  0.00          822.90
                   12     1                  0.00         5294.41
188595413.0 103.0  10     1                 81.70         3721.79
            104.0  10     1                 66.61         3305.59
194496796.0 6.0    13     1                 14.05        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26
            110.0  12     1                254.73        35000.00
            142.0  11     1                  3.21          197.80
                   12     1                298.77        29962.49
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          974.40
135737844.0 73.0   11     1                 50.98          687.83
            103.0  12     1                  4.52         5190.15
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                 17.63          643.80
                          2                  0.20           23.46
            73.0   11     1                  0.00            0.00
            103.0  12     1                 30.45        29134.25
            142.0  11     1                  5.52          716.60
                   12     1                  0.00         4898.79
188595413.0 103.0  10     1                 78.42         3427.89
            104.0  10     1                 60.94         3009.96
194496796.0 6.0    13     1                451.50        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62
            110.0  12     1                562.86        35000.00
            142.0  11     1                  0.00          163.67
                   12     1                 12.08        29647.67
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          464.21
135737844.0 73.0   11     1                  0.00          245.45
            103.0  12     1                  2.94         5064.00
            145.0  11     1                  0.00         3133.00
154132414.0 6.0    11     1                  0.00          247.24
                          2                  0.41           39.68
            73.0   11     1                  0.00            0.00
            103.0  12     1                 20.80        28123.34
            142.0  11     1                 11.20          973.70
                   12     1                  0.00         4490.75
188595413.0 103.0  10     1                 68.68         3129.03
            104.0  10     1                 54.54         2704.05
194496796.0 6.0    13     1                451.04        41307.35
            103.0  12     1                  0.00            0.00

                                  IntDev_20211231  Saldo_20211231  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69
            110.0  12     1                264.19        34899.02
            142.0  11     1                  0.00            0.00
                   12     1                 23.68        29024.06
127936200.0 4.0    12     1                  0.00            0.00

In [96]:
#Función para reagrupar el resto de listas en función a la de saldos descendientes
def reshape(listaAgrupada, listaPorAgrupar):
    last = 0
    res = []
    for ele in listaAgrupada:
        res.append(listaPorAgrupar[last : last + len(ele)])
        last += len(ele)
          
    return res

In [97]:
#df_test_pivot['lista_saldos'] = df_test_pivot.apply(lambda x : reshape(x['lista_saldos_desc'],x['lista_saldos']),axis=1)
df_test_pivot['lista_interes_dev'] = df_test_pivot.apply(lambda x : reshape(x['lista_saldos_desc'],x['lista_interes_dev']),axis=1)
df_test_pivot['n_dias'] = df_test_pivot.apply(lambda x : reshape(x['lista_saldos_desc'],x['n_dias']),axis=1)

In [98]:
df_test_pivot

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89         4405.00
123221893.0 2.0    11     1                  0.15            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          129.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00           35.59
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  8.00        32381.89
            6.0    11     1                  0.00            0.00
            123.0  13     1               2098.06       158102.14
            142.0  11     1                  0.00          342.64
135737844.0 73.0   11     1                  0.00          161.19
            103.0  12     1                  5.47         6285.90
            145.0  11     1                  0.00           79.00
154132414.0 6.0    11     1                  2.74         1514.61
                          2                  0.18            8.26
            73.0   11     1                  7.49          626.09
            103.0  12     1                 36.38        25132.11
            142.0  11     1                  0.00         2818.95
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 52.19         1753.37
            104.0  10     1                 35.51         1966.67
194496796.0 6.0    13     1                470.61        41800.01
            103.0  12     1                  1.54         1775.62

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1               1596.33       157551.18
            142.0  11     1                  0.00            0.00
135737844.0 73.0   11     1                 15.29          612.66
            103.0  12     1                  0.00         6169.64
            145.0  11     1                  0.00           48.20
154132414.0 6.0    11     1                  0.37         1274.49
                          2                  0.00            0.00
            73.0   11     1                  4.15          412.38
            103.0  12     1                 12.84        24402.06
            142.0  11     1                  0.00         1211.67
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 42.21         1605.89
            104.0  10     1                 26.75         1745.51
194496796.0 6.0    13     1                427.35        41761.67
            103.0  12     1                  0.00         1486.65

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.78         2000.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          168.32
135737844.0 73.0   11     1                  0.78          389.47
            103.0  12     1                  5.26         6046.92
            145.0  11     1                  0.00          320.00
154132414.0 6.0    11     1                  0.00         1077.05
                          2                  0.00            0.00
            73.0   11     1                  2.81          209.01
            103.0  12     1                 32.55        23642.39
            142.0  11     1                  0.00         1030.76
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 43.08         1447.21
            104.0  10     1                 27.32         1513.10
194496796.0 6.0    13     1                 28.28        41640.52
            103.0  12     1                  1.04         1193.77

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.55         1843.08
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          441.13
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.44         5928.51
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                  0.00           10.56
                          2                  0.23           34.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 27.37        22894.32
            142.0  11     1                  0.00           13.50
                   12     1                102.60        13390.00
188595413.0 103.0  10     1                 36.86         1288.59
            104.0  10     1                 83.16         4000.00
194496796.0 6.0    13     1                 14.13        41600.49
            103.0  12     1                  0.52          899.55

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.00         1683.34
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          506.47
135737844.0 73.0   11     1                  0.00          237.98
            103.0  12     1                  5.05         5807.29
            145.0  11     1                  0.00          135.00
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.42            5.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 32.92        22135.03
            142.0  11     1                  0.00          547.46
                   12     1                391.75        13390.00
188595413.0 103.0  10     1                  0.00          952.20
            104.0  10     1                  0.00         3559.14
194496796.0 6.0    13     1                 28.22        41545.77
            103.0  12     1                  0.52          602.41

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.45         1522.59
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00         1072.72
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.30         5686.71
            145.0  11     1                  0.00           96.64
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            73.0   11     1                  0.00            0.00
            103.0  12     1                 67.32        33075.23
            142.0  11     1                  0.00          415.07
                   12     1                103.66        11446.92
188595413.0 103.0  10     1                 27.24          952.20
            104.0  10     1                 74.00         3559.14
194496796.0 6.0    13     1                 14.09        41504.74
            103.0  12     1                  0.18          302.85

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00          444.55
                   12     1                  0.81         1359.74
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                 34.67         2280.80
            123.0  13     1                  0.00            0.00
            142.0  11     1                 36.72         1042.95
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  4.84         5563.38
            145.0  11     1                  0.00          567.74
154132414.0 6.0    11     1                  0.00          690.00
                          2                  0.00            0.00
            73.0   11     1                 33.01          838.00
            103.0  12     1                 33.29        32129.14
            142.0  11     1                  5.87          983.76
                   12     1                  4.43         6362.08
188595413.0 103.0  10     1                 23.05          774.39
            104.0  10     1                 72.22         3327.63
194496796.0 6.0    13     1                 28.15        41449.04
            103.0  12     1                  0.00            0.00

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.71         1195.75
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          334.23
135737844.0 73.0   11     1                  0.00          439.34
            103.0  12     1                  4.73         5440.60
            145.0  11     1                  6.41          480.73
154132414.0 6.0    11     1                  2.09          745.63
                          2                  0.33            8.25
            73.0   11     1                  0.00           57.26
            103.0  12     1                 30.25        31143.82
            142.0  11     1                  0.50         1146.56
                   12     1                 92.93         6063.76
188595413.0 103.0  10     1                 95.21         4000.00
            104.0  10     1                 72.75         3595.72
194496796.0 6.0    13     1                 28.12        41406.99
            103.0  12     1                  0.00            0.00

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.31         1030.12
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          769.94
135737844.0 73.0   11     1                 41.94          788.99
            103.0  12     1                  3.08         5316.71
            145.0  11     1                 43.25          196.04
154132414.0 6.0    11     1                 29.22          885.63
                          2                  0.00            8.35
            73.0   11     1                  0.00            0.00
            103.0  12     1                 10.61        30103.46
            142.0  11     1                  0.00          822.90
                   12     1                  0.00         5294.41
188595413.0 103.0  10     1                 81.70         3721.79
            104.0  10     1                 66.61         3305.59
194496796.0 6.0    13     1                 14.05        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26
            110.0  12     1                254.73        35000.00
            142.0  11     1                  3.21          197.80
                   12     1                298.77        29962.49
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          974.40
135737844.0 73.0   11     1                 50.98          687.83
            103.0  12     1                  4.52         5190.15
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                 17.63          643.80
                          2                  0.20           23.46
            73.0   11     1                  0.00            0.00
            103.0  12     1                 30.45        29134.25
            142.0  11     1                  5.52          716.60
                   12     1                  0.00         4898.79
188595413.0 103.0  10     1                 78.42         3427.89
            104.0  10     1                 60.94         3009.96
194496796.0 6.0    13     1                451.50        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62
            110.0  12     1                562.86        35000.00
            142.0  11     1                  0.00          163.67
                   12     1                 12.08        29647.67
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          464.21
135737844.0 73.0   11     1                  0.00          245.45
            103.0  12     1                  2.94         5064.00
            145.0  11     1                  0.00         3133.00
154132414.0 6.0    11     1                  0.00          247.24
                          2                  0.41           39.68
            73.0   11     1                  0.00            0.00
            103.0  12     1                 20.80        28123.34
            142.0  11     1                 11.20          973.70
                   12     1                  0.00         4490.75
188595413.0 103.0  10     1                 68.68         3129.03
            104.0  10     1                 54.54         2704.05
194496796.0 6.0    13     1                451.04        41307.35
            103.0  12     1                  0.00            0.00

                                  IntDev_20211231  Saldo_20211231  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69
            110.0  12     1                264.19        34899.02
            142.0  11     1                  0.00            0.00
                   12     1                 23.68        29024.06
127936200.0 4.0    12     1                  0.00            0.00

In [99]:
#Función para encontrar el día de pago de cuota iterando entre listas 

def calculateFPago_iterador(list_saldo,list_dev,list_n,iterar_todos=True):
    ciclos_decrecientes = len(list_saldo)
    result = []
    #print("Total ciclos: ",ciclos_decrecientes)
    for i in range(ciclos_decrecientes):
        result.append([])
        #print("Comenzando ciclo ",i," en ", list_saldo)
        saldos = list_saldo[i]
        devengados = list_dev[i]
        dias = list_n[i]
        #print("============ciclo=============",i)
        for index,n in enumerate(dias):
            for index_,n_ in enumerate(dias):
                condicion_opcional = True if iterar_todos else (index+1 == index_)
                if((index <index_) & condicion_opcional) : #  & (n != n_)
                    #print (f"compare {index} con {index_}, fechas {n} y {n_}")
                    _fpago= get_fpago(saldos[index],devengados[index],n,saldos[index_],devengados[index_],n_)
                    #print(_fpago)       
                    result[i].append(_fpago)
                    #print(result)
    return result

In [100]:
def calculaTEAs_ciclos(saldo_list,dev_list,dias_list,fpago_between_list, metodo='left'):
    ciclos_decrecientes = len(saldo_list)
    result = []
    
    for i in range(ciclos_decrecientes):
        result.append([])
        
        #Listas auxiliares
        list_left = fpago_between_list[i] + [None]
        list_right = [None] + fpago_between_list[i]

        #Iterar
        if(metodo == 'left'):        
           
            for index,elemento in enumerate(list_left):
                if(elemento == None):
                    result[i].append("ND")
                else:
                    #print("Parametros: ",saldo_list[i][index],dev_list[i][index],elemento,dias_list[i][index])
                    tea_calc = tea_mes(saldo_list[i][index],dev_list[i][index],elemento,dias_list[i][index])
                    #print("Resultado: ",tea_calc)
                    result[i].append(tea_calc)
            

        elif(metodo == 'right'):
            
            for index,elemento in enumerate(list_right):
                if(elemento == None):
                    result[i].append("ND")
                else:
                    tea_calc = tea_mes(saldo_list[i][index],dev_list[i][index],elemento,dias_list[i][index])
                    result[i].append(tea_calc)
            

        elif(metodo == 'both'):
            for index,elemento in enumerate(list_left):
                if(elemento == None):
                    result[i].append("ND")
                else:
                    tea_calc = tea_mes(saldo_list[i][index],dev_list[i][index],elemento,dias_list[i][index])
                    result[i].append(tea_calc)
            for index,elemento in enumerate(list_right):
                if(elemento == None):
                    result[i].append("ND")
                else:
                    tea_calc = tea_mes(saldo_list[i][index],dev_list[i][index],elemento,dias_list[i][index])
                    result[i].append(tea_calc)
            
    return result

In [101]:
#Pruebas de formulas

In [102]:
saldo_list =[[1966.67, 1745.51, 1513.1], [4000.0, 3559.14, 3559.14, 3327.63], [3595.72, 3305.59, 3009.96, 2704.05, 2391.81]]
dev_list = [[35.51, 26.75, 27.32], [83.16, 0.0, 74.0, 72.22], [72.75, 66.61, 60.94, 54.54, 48.48]]
dias_list =[[31, 28, 31], [30, 31, 30, 31], [31, 30, 31, 30, 31]]
ciclos_decrecientes = len(saldo_list)
print (ciclos_decrecientes)

3

In [103]:
saldo_list =[[41800.01, 41761.67, 41640.52, 41600.49, 41545.77, 41504.74, 41449.04, 41406.99, 41364.49, 41364.49, 41307.35, 41205.63]]
dev_list = [[470.61, 427.35, 28.28, 14.13, 28.22, 14.09, 28.15, 28.12, 14.05, 451.5, 451.04, 27.99]]
dias_list =[[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]]
ciclos_decrecientes = len(saldo_list)
print (ciclos_decrecientes)

1

In [104]:
dev_list =[[98.89, 73.47, 67.65, 49.39, 34.78, 16.26], [174.6, 141.7, 93.08, 101.67, 91.36, 94.32]]
dias_list =[[31, 28, 31, 30, 31, 30], [31, 31, 30, 31, 30, 31]]
saldo_list= [[4405.0, 3724.03, 3013.4, 2292.62, 1549.12, 787.85], [30000.0, 27835.61, 25618.23, 23308.55, 20945.75, 18528.61]]
ciclos_decrecientes = len(saldo_list)
print (ciclos_decrecientes)

2

In [105]:
dev_list =[[0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0]]
dias_list =[[31, 28], [31, 30, 31], [30, 31, 31, 30, 31], [30, 31]]
saldo_list=[[0.0, 0.0], [2388.68, 0.0, 0.0], [254.92, 168.09, 168.09, 15.49, 15.49], [400.1, 8.5]]
ciclos_decrecientes = len(saldo_list)
print (ciclos_decrecientes)

4

In [106]:
dev_list = [[0.0, 0.0, 92.36, 78.05, 69.35, 65.13, 0.0, 0.0, 43.81, 0.0, 0.0, 0.0]]
dias_list = [[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]]
saldo_list= [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]
ciclos_decrecientes = len(saldo_list)
print (ciclos_decrecientes)

1

In [107]:
fpago_between_list = calculateFPago_iterador(saldo_list,dev_list,dias_list,False)
fpago_between_list

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [108]:
resultado = calculaTEAs_ciclos(saldo_list,dev_list,dias_list,fpago_between_list, metodo='left')
resultado

[[None, None, None, None, None, None, None, None, None, None, None, 'ND']]

In [109]:
resultado2 = calculaTEAs_ciclos(saldo_list,dev_list,dias_list,fpago_between_list, metodo='left')
resultado2

[[None, None, None, None, None, None, None, None, None, None, None, 'ND']]

In [110]:
#Ejecución en tabla

In [111]:
df_test_pivot["f_pago_inter"] = df_test_pivot.apply(lambda x : calculateFPago_iterador(x['lista_saldos_desc'],x['lista_interes_dev'],x['n_dias'],False),axis=1)

<ipython-input-35-334793f7408d>:14: RuntimeWarning: invalid value encountered in double_scalars
  return np.round((np.log(d2/s2 + 1)*N1 - np.log(d1/s1 + 1)*N2)/(np.log(d2/s2 + 1)-np.log(d1/s1 + 1)),0)

In [112]:
df_test_pivot.head()

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89          4405.0
123221893.0 2.0    11     1                  0.15             0.0
                          2                  0.00             0.0
            6.0    11     2                  0.00             0.0
            82.0   11     1                  0.00           129.9

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62

                                  IntDev_20211231  Saldo_20211231  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69

                                                                                                                                    lista_saldos  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1       [4405.0, 3724.03, 3013.4, 2292.62, 1549.12, 787.85, 30000.0, 27835.61, 25618.23, 23308.55, 20945.75, 18528.61]
123221893.0 2.0    11     1                                      [0.0, 0.0, 2388.68, 0.0, 0.0, 254.92, 168.09, 168.09, 15.49, 15.49, 400.1, 8.5]
                          2                                                    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 149.48, 151.1, 0.0, 0.0, 0.0, 0.0]
            6.0    11     2                                                         [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
            82.0   11     1                [129.9, 44.9, 4044.9, 3756.39, 3453.57, 3142.05, 2457.13, 2083.03, 2345.83, 1473.26, 1247.62, 689.69]

                                                                                                          lista_interes_dev  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1       [[98.89, 73.47, 67.65, 49.39, 34.78, 16.26], [174.6, 141.7, 93.08, 101.67, 91.36, 94.32]]
123221893.0 2.0    11     1                        [[0.15, 0.0], [14.6, 0.0, 0.0], [36.3, 0.0, 0.0, 0.0, 0.0], [0.93, 0.0]]
                          2                            [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1.21], [1.22, 0.0, 0.0, 0.0, 0.0]]
            6.0    11     2                                 [[0.0, 0.15, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]
            82.0   11     1                    [[0.0, 0.0], [92.36, 78.05, 69.35, 65.13, 0.0, 0.0], [43.81, 0.0, 0.0, 0.0]]

                                                                                    n_dias  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1           [[31, 28, 31, 30, 31, 30], [31, 31, 30, 31, 30, 31]]
123221893.0 2.0    11     1       [[31, 28], [31, 30, 31], [30, 31, 31, 30, 31], [30, 31]]
                          2         [[31, 28, 31, 30, 31, 30], [31], [31, 30, 31, 30, 31]]
            6.0    11     2             [[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]]
            82.0   11     1         [[31, 28], [31, 30, 31, 30, 31, 31], [30, 31, 30, 31]]

                                                                                                                                   lista_saldos_desc  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1       [[4405.0, 3724.03, 3013.4, 2292.62, 1549.12, 787.85], [30000.0, 27835.61, 25618.23, 23308.55, 20945.75, 18528.61]]
123221893.0 2.0    11     1                                  [[0.0, 0.0], [2388.68, 0.0, 0.0], [254.92, 168.09, 168.09, 15.49, 15.49], [400.1, 8.5]]
                          2                                                  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [149.48], [151.1, 0.0, 0.0, 0.0, 0.0]]
            6.0    11     2                                                           [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]
            82.0   11     1              [[129.9, 44.9], [4044.9, 3756.39, 3453.57, 3142.05, 2457.13, 2083.03], [2345.83, 1473.26, 1247.62, 689.69]]

                                                                                      f_pago_inter
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1       [[6.0, 6.0, 6.0, 6.0, 18.0], [31.0, 28.0, 25.0, -24996.0, 24.0]]
123221893.0 2.0    11     1                           [[0], [0, 0], [31.0, nan, nan, nan], [31.0]]
                          2                                    [[0, 0, 0, 0, 0], [], [0, 0, 0, 0]]
            6.0    11     2                                    [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
            82.0   11     1               [[nan], [20.0, 60.0, 62.0, 31.0, nan], [31.0, nan, nan]]

In [113]:
df_test_pivot["tea_calculada"] = df_test_pivot.apply(lambda x : calculaTEAs_ciclos(x['lista_saldos_desc'],x['lista_interes_dev'],x['n_dias'],x['f_pago_inter'],'left'),axis=1)

In [114]:
df_test_pivot

                                  IntDev_20210131  Saldo_20210131  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 98.89         4405.00
123221893.0 2.0    11     1                  0.15            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          129.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00           35.59
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  8.00        32381.89
            6.0    11     1                  0.00            0.00
            123.0  13     1               2098.06       158102.14
            142.0  11     1                  0.00          342.64
135737844.0 73.0   11     1                  0.00          161.19
            103.0  12     1                  5.47         6285.90
            145.0  11     1                  0.00           79.00
154132414.0 6.0    11     1                  2.74         1514.61
                          2                  0.18            8.26
            73.0   11     1                  7.49          626.09
            103.0  12     1                 36.38        25132.11
            142.0  11     1                  0.00         2818.95
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 52.19         1753.37
            104.0  10     1                 35.51         1966.67
194496796.0 6.0    13     1                470.61        41800.01
            103.0  12     1                  1.54         1775.62

                                  IntDev_20210228  Saldo_20210228  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 73.47         3724.03
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.15            0.00
            82.0   11     1                  0.00           44.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.00            0.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1               1596.33       157551.18
            142.0  11     1                  0.00            0.00
135737844.0 73.0   11     1                 15.29          612.66
            103.0  12     1                  0.00         6169.64
            145.0  11     1                  0.00           48.20
154132414.0 6.0    11     1                  0.37         1274.49
                          2                  0.00            0.00
            73.0   11     1                  4.15          412.38
            103.0  12     1                 12.84        24402.06
            142.0  11     1                  0.00         1211.67
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 42.21         1605.89
            104.0  10     1                 26.75         1745.51
194496796.0 6.0    13     1                427.35        41761.67
            103.0  12     1                  0.00         1486.65

                                  IntDev_20210331  Saldo_20210331  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 67.65         3013.40
123221893.0 2.0    11     1                 14.60         2388.68
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 92.36         4044.90
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.78         2000.00
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          168.32
135737844.0 73.0   11     1                  0.78          389.47
            103.0  12     1                  5.26         6046.92
            145.0  11     1                  0.00          320.00
154132414.0 6.0    11     1                  0.00         1077.05
                          2                  0.00            0.00
            73.0   11     1                  2.81          209.01
            103.0  12     1                 32.55        23642.39
            142.0  11     1                  0.00         1030.76
                   12     1                  0.00            0.00
188595413.0 103.0  10     1                 43.08         1447.21
            104.0  10     1                 27.32         1513.10
194496796.0 6.0    13     1                 28.28        41640.52
            103.0  12     1                  1.04         1193.77

                                  IntDev_20210430  Saldo_20210430  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 49.39         2292.62
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 78.05         3756.39
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.55         1843.08
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          441.13
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.44         5928.51
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                  0.00           10.56
                          2                  0.23           34.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 27.37        22894.32
            142.0  11     1                  0.00           13.50
                   12     1                102.60        13390.00
188595413.0 103.0  10     1                 36.86         1288.59
            104.0  10     1                 83.16         4000.00
194496796.0 6.0    13     1                 14.13        41600.49
            103.0  12     1                  0.52          899.55

                                  IntDev_20210531  Saldo_20210531  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 34.78         1549.12
123221893.0 2.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 69.35         3453.57
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  1.00         1683.34
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          506.47
135737844.0 73.0   11     1                  0.00          237.98
            103.0  12     1                  5.05         5807.29
            145.0  11     1                  0.00          135.00
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.42            5.08
            73.0   11     1                  0.00            0.00
            103.0  12     1                 32.92        22135.03
            142.0  11     1                  0.00          547.46
                   12     1                391.75        13390.00
188595413.0 103.0  10     1                  0.00          952.20
            104.0  10     1                  0.00         3559.14
194496796.0 6.0    13     1                 28.22        41545.77
            103.0  12     1                  0.52          602.41

                                  IntDev_20210630  Saldo_20210630  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 16.26          787.85
123221893.0 2.0    11     1                 36.30          254.92
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 65.13         3142.05
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.45         1522.59
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00         1072.72
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  3.30         5686.71
            145.0  11     1                  0.00           96.64
154132414.0 6.0    11     1                  0.00            0.00
                          2                  0.00            0.00
            73.0   11     1                  0.00            0.00
            103.0  12     1                 67.32        33075.23
            142.0  11     1                  0.00          415.07
                   12     1                103.66        11446.92
188595413.0 103.0  10     1                 27.24          952.20
            104.0  10     1                 74.00         3559.14
194496796.0 6.0    13     1                 14.09        41504.74
            103.0  12     1                  0.18          302.85

                                  IntDev_20210731  Saldo_20210731  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                174.60        30000.00
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.21          149.48
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2457.13
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00          444.55
                   12     1                  0.81         1359.74
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                 34.67         2280.80
            123.0  13     1                  0.00            0.00
            142.0  11     1                 36.72         1042.95
135737844.0 73.0   11     1                  0.00            0.00
            103.0  12     1                  4.84         5563.38
            145.0  11     1                  0.00          567.74
154132414.0 6.0    11     1                  0.00          690.00
                          2                  0.00            0.00
            73.0   11     1                 33.01          838.00
            103.0  12     1                 33.29        32129.14
            142.0  11     1                  5.87          983.76
                   12     1                  4.43         6362.08
188595413.0 103.0  10     1                 23.05          774.39
            104.0  10     1                 72.22         3327.63
194496796.0 6.0    13     1                 28.15        41449.04
            103.0  12     1                  0.00            0.00

                                  IntDev_20210831  Saldo_20210831  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                141.70        27835.61
123221893.0 2.0    11     1                  0.00          168.09
                          2                  1.22          151.10
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         2083.03
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.71         1195.75
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          334.23
135737844.0 73.0   11     1                  0.00          439.34
            103.0  12     1                  4.73         5440.60
            145.0  11     1                  6.41          480.73
154132414.0 6.0    11     1                  2.09          745.63
                          2                  0.33            8.25
            73.0   11     1                  0.00           57.26
            103.0  12     1                 30.25        31143.82
            142.0  11     1                  0.50         1146.56
                   12     1                 92.93         6063.76
188595413.0 103.0  10     1                 95.21         4000.00
            104.0  10     1                 72.75         3595.72
194496796.0 6.0    13     1                 28.12        41406.99
            103.0  12     1                  0.00            0.00

                                  IntDev_20210930  Saldo_20210930  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 93.08        25618.23
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                 43.81         2345.83
            110.0  12     1                  0.00            0.00
            142.0  11     1                  0.00            0.00
                   12     1                  0.31         1030.12
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          769.94
135737844.0 73.0   11     1                 41.94          788.99
            103.0  12     1                  3.08         5316.71
            145.0  11     1                 43.25          196.04
154132414.0 6.0    11     1                 29.22          885.63
                          2                  0.00            8.35
            73.0   11     1                  0.00            0.00
            103.0  12     1                 10.61        30103.46
            142.0  11     1                  0.00          822.90
                   12     1                  0.00         5294.41
188595413.0 103.0  10     1                 81.70         3721.79
            104.0  10     1                 66.61         3305.59
194496796.0 6.0    13     1                 14.05        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211031  Saldo_20211031  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                101.67        23308.55
123221893.0 2.0    11     1                  0.00           15.49
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1473.26
            110.0  12     1                254.73        35000.00
            142.0  11     1                  3.21          197.80
                   12     1                298.77        29962.49
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          974.40
135737844.0 73.0   11     1                 50.98          687.83
            103.0  12     1                  4.52         5190.15
            145.0  11     1                  0.00            0.00
154132414.0 6.0    11     1                 17.63          643.80
                          2                  0.20           23.46
            73.0   11     1                  0.00            0.00
            103.0  12     1                 30.45        29134.25
            142.0  11     1                  5.52          716.60
                   12     1                  0.00         4898.79
188595413.0 103.0  10     1                 78.42         3427.89
            104.0  10     1                 60.94         3009.96
194496796.0 6.0    13     1                451.50        41364.49
            103.0  12     1                  0.00            0.00

                                  IntDev_20211130  Saldo_20211130  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 91.36        20945.75
123221893.0 2.0    11     1                  0.93          400.10
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00         1247.62
            110.0  12     1                562.86        35000.00
            142.0  11     1                  0.00          163.67
                   12     1                 12.08        29647.67
127936200.0 4.0    12     1                  0.00            0.00
            6.0    11     1                  0.00            0.00
            123.0  13     1                  0.00            0.00
            142.0  11     1                  0.00          464.21
135737844.0 73.0   11     1                  0.00          245.45
            103.0  12     1                  2.94         5064.00
            145.0  11     1                  0.00         3133.00
154132414.0 6.0    11     1                  0.00          247.24
                          2                  0.41           39.68
            73.0   11     1                  0.00            0.00
            103.0  12     1                 20.80        28123.34
            142.0  11     1                 11.20          973.70
                   12     1                  0.00         4490.75
188595413.0 103.0  10     1                 68.68         3129.03
            104.0  10     1                 54.54         2704.05
194496796.0 6.0    13     1                451.04        41307.35
            103.0  12     1                  0.00            0.00

                                  IntDev_20211231  Saldo_20211231  \
CODDEU      CODEMP TIPCRE MONEDA
16182478.0  228.0  10     1                 94.32        18528.61
123221893.0 2.0    11     1                  0.00            8.50
                          2                  0.00            0.00
            6.0    11     2                  0.00            0.00
            82.0   11     1                  0.00          689.69
            110.0  12     1                264.19        34899.02
            142.0  11     1                  0.00            0.00
                   12     1                 23.68        29024.06
127936200.0 4.0    12     1                  0.00            0.00

In [199]:
def calcular_fpago (nombre, data):
    
    return value[1]+name

In [204]:
days_month_columns

[31,
 31,
 28,
 28,
 31,
 31,
 30,
 30,
 31,
 31,
 30,
 30,
 31,
 31,
 31,
 31,
 30,
 30,
 31,
 31,
 30,
 30]

In [222]:
def prueba(columna,listado):
    return listado + columna[1]

In [223]:
df_test_pivot['prueba2'] = df_test_pivot.apply(lambda x : prueba(x,days_month_columns[0]),axis=1)

df_test_pivot['prueba2']

In [224]:
df_test_pivot

                           Saldo_20210131  IntDev_20210131  Saldo_20210228  \
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10             4405.00            98.89         3724.03
127936200.0 4.0    12            32381.89             8.00             NaN
            6.0    11                 NaN              NaN             NaN
            123.0  13           158102.14          2098.06       157551.18
            142.0  11              342.64              NaN             NaN

                           IntDev_20210228  Saldo_20210331  IntDev_20210331  \
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10                73.47         3013.40            67.65
127936200.0 4.0    12                  NaN             NaN              NaN
            6.0    11                  NaN             NaN              NaN
            123.0  13              1596.33             NaN              NaN
            142.0  11                  NaN          168.32              NaN

                           Saldo_20210430  IntDev_20210430  Saldo_20210531  \
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10             2292.62            49.39         1549.12
127936200.0 4.0    12                 NaN              NaN             NaN
            6.0    11                 NaN              NaN             NaN
            123.0  13                 NaN              NaN             NaN
            142.0  11              441.13              NaN          506.47

                           IntDev_20210531  ...  IntDev_20210731  \
CODDEU      CODEMP TIPCRE                   ...
16182478.0  228.0  10                34.78  ...           174.60
127936200.0 4.0    12                  NaN  ...              NaN
            6.0    11                  NaN  ...            34.67
            123.0  13                  NaN  ...              NaN
            142.0  11                  NaN  ...            36.72

                           Saldo_20210831  IntDev_20210831  Saldo_20210930  \
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10            27835.61            141.7        25618.23
127936200.0 4.0    12                 NaN              NaN             NaN
            6.0    11                 NaN              NaN             NaN
            123.0  13                 NaN              NaN             NaN
            142.0  11              334.23              NaN          769.94

                           IntDev_20210930  Saldo_20211031  IntDev_20211031  \
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10                93.08        23308.55           101.67
127936200.0 4.0    12                  NaN             NaN              NaN
            6.0    11                  NaN             NaN              NaN
            123.0  13                  NaN             NaN              NaN
            142.0  11                  NaN          974.40              NaN

                           Saldo_20211130  IntDev_20211130  prueba2
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10            20945.75            91.36   129.89
127936200.0 4.0    12                 NaN              NaN    39.00
            6.0    11                 NaN              NaN      NaN
            123.0  13                 NaN              NaN  2129.06
            142.0  11              464.21              NaN      NaN

[5 rows x 23 columns]

In [227]:
list(filter(lambda c: 'Saldo_' in c, df_test_pivot.columns.tolist()))

['Saldo_20210131',
 'Saldo_20210228',
 'Saldo_20210331',
 'Saldo_20210430',
 'Saldo_20210531',
 'Saldo_20210630',
 'Saldo_20210731',
 'Saldo_20210831',
 'Saldo_20210930',
 'Saldo_20211031',
 'Saldo_20211130']

In [371]:
df_test_pivot.drop("prueba",axis =1,inplace=True)

In [226]:
df_test_pivot.iloc[:,0:1]

                           Saldo_20210131
CODDEU      CODEMP TIPCRE
16182478.0  228.0  10             4405.00
127936200.0 4.0    12            32381.89
            6.0    11                 NaN
            123.0  13           158102.14
            142.0  11              342.64

In [225]:
list(filter(lambda c: 'fpago' in c, df_test_pivot.columns.tolist()))

[]

## Probando con pycaret

In [48]:
datatemp.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [11]:
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions ' + str(data_unseen.shape))

Data for Modeling: (3543, 15)
Unseen Data For Predictions (394, 15)

In [12]:
from pycaret.regression import *

In [15]:
exp_reg102 = setup(data = data, target = 'TASADE', session_id=123,
                  normalize = True, transformation = True, transform_target = True, 
                  combine_rare_levels = True, rare_level_threshold = 0.05,
                  remove_multicollinearity = True, multicollinearity_threshold = 0.95, 
                  bin_numeric_features = ['DEUDA_ENE21', 'DEUDA_FEB21', 'DEUDA_MAR21', 'DEUDA_ABR21',
       'DEUDA_MAY21', 'DEV_ENE21', 'DEV_FEB21', 'DEV_MAR21', 'DEV_ABR21',
       'DEV_MAY21', 'var_saldo_ene_feb', 'var_saldo_feb_mar',
       'var_saldo_mar_abr', 'var_saldo_abr_may'],
                  log_experiment = True, experiment_name = 'TASADE1')

2021/07/17 10:50:33 WARNING mlflow.tracking.context.git_context: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

In [16]:
top3 = compare_models(exclude = ['ransac'], n_select = 3)

In [17]:

type(top3)

list

In [18]:
print(top3)

[PowerTransformedTargetRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=31, objective=None,
                                power_transformer_method='box-cox',
                                power_transformer_standardize=True,
                                random_state=1...
                                                        importance_type='split',
                                                        learning_rate=0.1,
                                                        max_depth=-1,
                                                        min_child_samples=20,
                                                        min_child_weight=0.001,
                                                        min_split_gain=0.0,
                                                        n_estimators=100,
                                                        n_jobs=-1,
                                                        num_leaves=31,
                                                        objective=None,
                                                        random_state=123,
                                                        reg_alpha=0.0,
                                                        reg_lambda=0.0,
                                                        silent=True,
                                                        subsample=1.0,
                                                        subsample_for_bin=200000,
                                                        subsample_freq=0),
                                silent=True, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0), PowerTransformedTargetRegressor(border_count=254, loss_function='RMSE',
                                power_transformer_method='box-cox',
                                power_transformer_standardize=True,
                                random_state=123,
                                regressor=<catboost.core.CatBoostRegressor object at 0x0000021A097652E0>,
                                task_type='CPU', verbose=False), PowerTransformedTargetRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                                max_depth=None, max_features='auto',
                                max_leaf_nodes=None, max_samples=None,
                                min_impurity_decrease=0.0,
                                min_impurity_split=None, min_samples_leaf=1,
                                min_samples_split=2,
                                min_weight_fraction_leaf=0.0, n_estimators=100,
                                n_jobs=-1, oob_score=False,
                                power_transformer_method='box-cox',
                                power...
                                regressor=RandomForestRegressor(bootstrap=True,
                                                                ccp_alpha=0.0,
                                                                criterion='mse',
                                                                max_depth=None,
                                                                max_features='auto',
                                                                max_leaf_nodes=None,
                                                                max_samples=None,
                                                                min_impurity_decrease=0.0,
                                                                min_impurity_split=None,
                                                                min_samples_leaf=1,
                                                                min_samples_split=2,
                                                                min_weight_fraction_leaf=0.0,
                                                                n_estimators=100,
                                                                n_jobs=-1,
                                                                oob_score=False,
                                                                random_state=123,
                                                                verbose=0,
                                                                warm_start=False),
                                verbose=0, warm_start=False)]

In [19]:
dt = create_model('dt', fold = 5)

In [20]:
rf = create_model('rf', round = 2)

In [22]:
lightgbm = create_model('lightgbm', round = 2)

In [24]:
tuned_lightgbm = tune_model(lightgbm)

In [25]:
tuned_lightgbm2 = tune_model(lightgbm, n_iter = 50)

## Probando con tabnet

In [26]:
from pytorch_tabnet.tab_model import TabNetRegressor

import torch
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np
np.random.seed(0)


import os
from pathlib import Path

In [27]:

train = dataset.copy()
target = 'TASADE'
if "Set" not in train.columns:
    train["Set"] = np.random.choice(["train", "valid", "test"], p =[.8, .1, .1], size=(train.shape[0],))

train_indices = train[train.Set=="train"].index
valid_indices = train[train.Set=="valid"].index
test_indices = train[train.Set=="test"].index

In [28]:
train.describe()

,TASADE,DEUDA_ENE21,DEUDA_FEB21,DEUDA_MAR21,DEUDA_ABR21,DEUDA_MAY21,DEV_ENE21,DEV_FEB21,DEV_MAR21,DEV_ABR21,DEV_MAY21,var_saldo_ene_feb,var_saldo_feb_mar,var_saldo_mar_abr,var_saldo_abr_may
count,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000,3937.000000
mean,43.494515,8752.537841,8365.527140,7968.912687,7578.399502,7169.572855,105.626325,80.433774,90.634209,79.738491,77.850521,-387.010701,-396.614453,-390.513185,-408.826647
std,14.796194,18736.882844,18280.145972,17869.742704,17490.225148,17091.943681,145.890914,118.313094,132.594975,121.543642,122.350111,919.021259,777.526576,808.291364,690.652889
min,9.000000,136.000000,127.340000,123.270000,119.430000,1.920000,0.000000,0.000000,0.000000,0.000000,0.000000,-25797.780000,-25998.760000,-35086.430000,-20526.150000
25%,35.000000,2000.000000,1862.100000,1714.300000,1567.350000,1411.920000,34.080000,23.640000,26.950000,22.450000,20.600000,-376.420000,-404.560000,-396.030000,-426.220000
50%,43.500000,3500.000000,3264.170000,3002.140000,2745.100000,2483.320000,62.570000,45.500000,50.860000,43.510000,40.890000,-208.090000,-225.130000,-221.960000,-233.020000
75%,50.500000,8000.000000,7529.740000,6931.370000,6471.360000,6114.260000,119.420000,89.860000,100.910000,87.890000,84.660000,-128.440000,-144.680000,-142.760000,-151.090000
max,89.000000,365000.000000,359657.540000,353203.270000,347006.210000,334341.350000,2441.750000,1697.030000,1847.430000,1708.060000,1704.210000,-0.010000,-0.010000,-0.010000,-0.010000

In [29]:
categorical_columns = []
categorical_dims =  {}
for col in train.columns[train.dtypes == object]:
    print(col, train[col].nunique())
    l_enc = LabelEncoder()
    train[col] = train[col].fillna("VV_likely")
    train[col] = l_enc.fit_transform(train[col].values)
    categorical_columns.append(col)
    categorical_dims[col] = len(l_enc.classes_)

for col in train.columns[train.dtypes == 'float64']:
    train.fillna(train.loc[train_indices, col].mean(), inplace=True)

Set 3

In [30]:

unused_feat = ['Set']

features = [ col for col in train.columns if col not in unused_feat+[target]] 

cat_idxs = [ i for i, f in enumerate(features) if f in categorical_columns]

cat_dims = [ categorical_dims[f] for i, f in enumerate(features) if f in categorical_columns]

# define your embedding sizes : here just a random choice
cat_emb_dim = [5, 4, 3, 6, 2, 2, 1, 10]

In [31]:
clf = TabNetRegressor(cat_dims=cat_dims, cat_emb_dim=cat_emb_dim, cat_idxs=cat_idxs)

Device used : cpu

In [32]:
X_train = train[features].values[train_indices]
y_train = train[target].values[train_indices].reshape(-1, 1)

X_valid = train[features].values[valid_indices]
y_valid = train[target].values[valid_indices].reshape(-1, 1)

X_test = train[features].values[test_indices]
y_test = train[target].values[test_indices].reshape(-1, 1)

In [33]:
max_epochs = 1000 if not os.getenv("CI", False) else 2

In [37]:

clf.fit(
    X_train=X_train, y_train=y_train,
    eval_set=[(X_train, y_train), (X_valid, y_valid)],
    eval_name=['train', 'valid'],
    eval_metric=['rmsle', 'mae', 'rmse', 'mse'],
    max_epochs=max_epochs,
    patience=50,
    batch_size=1024, virtual_batch_size=128,
    num_workers=0,
    drop_last=False
)

epoch 0  | loss: 92.35481| train_rmsle: 0.07662 | train_mae: 8.8879  | train_rmse: 11.93374| train_mse: 142.41413| valid_rmsle: 0.09023 | valid_mae: 9.33368 | valid_rmse: 12.56792| valid_mse: 157.95263|  0:00:00s
epoch 1  | loss: 86.48171| train_rmsle: 0.0694  | train_mae: 7.81487 | train_rmse: 11.00283| train_mse: 121.06237| valid_rmsle: 0.08689 | valid_mae: 8.30986 | valid_rmse: 11.75748| valid_mse: 138.23844|  0:00:00s
epoch 2  | loss: 90.35755| train_rmsle: 0.07354 | train_mae: 8.16374 | train_rmse: 11.40384| train_mse: 130.04764| valid_rmsle: 0.08923 | valid_mae: 8.62448 | valid_rmse: 12.0974 | valid_mse: 146.34702|  0:00:01s
epoch 3  | loss: 91.66994| train_rmsle: 0.06715 | train_mae: 7.46629 | train_rmse: 10.59201| train_mse: 112.19062| valid_rmsle: 0.08357 | valid_mae: 7.89617 | valid_rmse: 11.31712| valid_mse: 128.07713|  0:00:02s
epoch 4  | loss: 87.70627| train_rmsle: 0.06692 | train_mae: 7.73358 | train_rmse: 10.80241| train_mse: 116.69203| valid_rmsle: 0.08268 | valid_mae: 8.17422 | valid_rmse: 11.50259| valid_mse: 132.30965|  0:00:02s
epoch 5  | loss: 85.30715| train_rmsle: 0.07703 | train_mae: 8.94853 | train_rmse: 12.10694| train_mse: 146.57806| valid_rmsle: 0.091   | valid_mae: 9.35449 | valid_rmse: 12.71153| valid_mse: 161.58302|  0:00:03s
epoch 6  | loss: 88.82547| train_rmsle: 0.07189 | train_mae: 8.45497 | train_rmse: 11.5634 | train_mse: 133.71216| valid_rmsle: 0.08665 | valid_mae: 8.91121 | valid_rmse: 12.25475| valid_mse: 150.17901|  0:00:03s
epoch 7  | loss: 84.45354| train_rmsle: 0.07464 | train_mae: 8.73378 | train_rmse: 11.93303| train_mse: 142.39723| valid_rmsle: 0.08882 | valid_mae: 9.16485 | valid_rmse: 12.57204| valid_mse: 158.05617|  0:00:04s
epoch 8  | loss: 86.0608 | train_rmsle: 0.07194 | train_mae: 8.26651 | train_rmse: 11.50191| train_mse: 132.29404| valid_rmsle: 0.08748 | valid_mae: 8.77123 | valid_rmse: 12.19842| valid_mse: 148.80148|  0:00:04s
epoch 9  | loss: 83.63879| train_rmsle: 0.07527 | train_mae: 8.74637 | train_rmse: 11.89218| train_mse: 141.42392| valid_rmsle: 0.08873 | valid_mae: 9.17453 | valid_rmse: 12.48708| valid_mse: 155.92727|  0:00:05s
epoch 10 | loss: 86.50258| train_rmsle: 0.07063 | train_mae: 8.22986 | train_rmse: 11.37203| train_mse: 129.3231| valid_rmsle: 0.08572 | valid_mae: 8.72474 | valid_rmse: 12.11346| valid_mse: 146.73579|  0:00:05s
epoch 11 | loss: 84.70283| train_rmsle: 0.06555 | train_mae: 7.86018 | train_rmse: 10.83343| train_mse: 117.36323| valid_rmsle: 0.07926 | valid_mae: 8.25519 | valid_rmse: 11.50936| valid_mse: 132.46541|  0:00:06s
epoch 12 | loss: 82.95935| train_rmsle: 0.06058 | train_mae: 7.10043 | train_rmse: 9.76025 | train_mse: 95.26244| valid_rmsle: 0.07321 | valid_mae: 7.38115 | valid_rmse: 10.45228| valid_mse: 109.25014|  0:00:06s
epoch 13 | loss: 86.19016| train_rmsle: 0.06692 | train_mae: 7.91345 | train_rmse: 10.78505| train_mse: 116.31734| valid_rmsle: 0.07817 | valid_mae: 8.27859 | valid_rmse: 11.43595| valid_mse: 130.78089|  0:00:07s
epoch 14 | loss: 83.9742 | train_rmsle: 0.06113 | train_mae: 7.25445 | train_rmse: 10.03837| train_mse: 100.76883| valid_rmsle: 0.07439 | valid_mae: 7.61097 | valid_rmse: 10.77626| valid_mse: 116.12774|  0:00:07s
epoch 15 | loss: 85.94784| train_rmsle: 0.06271 | train_mae: 7.35028 | train_rmse: 10.27291| train_mse: 105.53277| valid_rmsle: 0.07791 | valid_mae: 7.82593 | valid_rmse: 11.11015| valid_mse: 123.43545|  0:00:08s
epoch 16 | loss: 83.97883| train_rmsle: 0.06695 | train_mae: 7.90332 | train_rmse: 10.85433| train_mse: 117.81645| valid_rmsle: 0.08126 | valid_mae: 8.32239 | valid_rmse: 11.48958| valid_mse: 132.01056|  0:00:08s
epoch 17 | loss: 83.86577| train_rmsle: 0.06975 | train_mae: 8.01092 | train_rmse: 11.16092| train_mse: 124.56611| valid_rmsle: 0.08497 | valid_mae: 8.47837 | valid_rmse: 11.85529| valid_mse: 140.54796|  0:00:09s
epoch 18 | loss: 83.868  | train_rmsle: 0.06785 | train_mae: 7.67986 | train_rmse: 10.83736| train_mse: 117.44827| valid_rmsle: 0.08434 | valid_mae: 8.17907 | valid_rmse: 11.6368 | valid_mse: 135.41522|  0:00:09s
epoch 19 | loss: 82.80894| train_rmsle: 0.06258 | train_mae: 6.99698 | train_rmse: 9.89519 | train_mse: 97.91473| valid_rmsle: 0.07967 | valid_mae: 7.46705 | valid_rmse: 10.72327| valid_mse: 114.98857|  0:00:10s
epoch 20 | loss: 83.47863| train_rmsle: 0.06561 | train_mae: 7.33315 | train_rmse: 10.40888| train_mse: 108.34471| valid_rmsle: 0.08358 | valid_mae: 7.87487 | valid_rmse: 11.34947| valid_mse: 128.81037|  0:00:10s
epoch 21 | loss: 84.42889| train_rmsle: 0.06624 | train_mae: 7.64902 | train_rmse: 10.68682| train_mse: 114.20815| valid_rmsle: 0.08221 | valid_mae: 8.17648 | valid_rmse: 11.47665| valid_mse: 131.71354|  0:00:10s
epoch 22 | loss: 83.20347| train_rmsle: 0.06124 | train_mae: 7.08755 | train_rmse: 9.93546 | train_mse: 98.71346| valid_rmsle: 0.0766  | valid_mae: 7.50404 | valid_rmse: 10.6884 | valid_mse: 114.2418|  0:00:11s
epoch 23 | loss: 85.1525 | train_rmsle: 0.065   | train_mae: 7.51444 | train_rmse: 10.5923 | train_mse: 112.19674| valid_rmsle: 0.07967 | valid_mae: 7.96063 | valid_rmse: 11.35676| valid_mse: 128.97595|  0:00:11s
epoch 24 | loss: 84.72416| train_rmsle: 0.07434 | train_mae: 8.5078  | train_rmse: 11.78749| train_mse: 138.94486| valid_rmsle: 0.08798 | valid_mae: 8.95748 | valid_rmse: 12.48122| valid_mse: 155.78082|  0:00:12s
epoch 25 | loss: 85.41275| train_rmsle: 0.06806 | train_mae: 7.89181 | train_rmse: 10.98015| train_mse: 120.5636| valid_rmsle: 0.08184 | valid_mae: 8.3248  | valid_rmse: 11.67213| valid_mse: 136.2385|  0:00:12s
epoch 26 | loss: 84.36071| train_rmsle: 0.06439 | train_mae: 7.48155 | train_rmse: 10.51362| train_mse: 110.53631| valid_rmsle: 0.07928 | valid_mae: 7.9617  | valid_rmse: 11.28398| valid_mse: 127.32811|  0:00:13s
epoch 27 | loss: 81.91383| train_rmsle: 0.06936 | train_mae: 8.19013 | train_rmse: 11.328  | train_mse: 128.32361| valid_rmsle: 0.0833  | valid_mae: 8.6546  | valid_rmse: 12.09894| valid_mse: 146.38445|  0:00:13s
epoch 28 | loss: 85.36786| train_rmsle: 0.06977 | train_mae: 8.27646 | train_rmse: 11.39829| train_mse: 129.92101| valid_rmsle: 0.08331 | valid_mae: 8.75083 | valid_rmse: 12.12005| valid_mse: 146.89564|  0:00:14s
epoch 29 | loss: 83.57859| train_rmsle: 0.06491 | train_mae: 7.77607 | train_rmse: 10.69761| train_mse: 114.43887| valid_rmsle: 0.07818 | valid_mae: 8.19096 | valid_rmse: 11.3095 | valid_mse: 127.90475|  0:00:14s
epoch 30 | loss: 83.62276| train_rmsle: 0.0729  | train_mae: 8.45737 | train_rmse: 11.67035| train_mse: 136.19709| valid_rmsle: 0.08827 | valid_mae: 8.99251 | valid_rmse: 12.43896| valid_mse: 154.72769|  0:00:14s
epoch 31 | loss: 84.37884| train_rmsle: 0.07823 | train_mae: 9.06729 | train_rmse: 12.29858| train_mse: 151.25509| valid_rmsle: 0.09217 | valid_mae: 9.53237 | valid_rmse: 12.96684| valid_mse: 168.13896|  0:00:15s
epoch 32 | loss: 82.8489 | train_rmsle: 0.07123 | train_mae: 8.42763 | train_rmse: 11.53213| train_mse: 132.98999| valid_rmsle: 0.08538 | valid_mae: 8.88077 | valid_rmse: 12.21783| valid_mse: 149.27533|  0:00:15s
epoch 33 | loss: 82.1048 | train_rmsle: 0.07146 | train_mae: 8.43578 | train_rmse: 11.56949| train_mse: 133.85314| valid_rmsle: 0.08601 | valid_mae: 8.91074 | valid_rmse: 12.26093| valid_mse: 150.3304|  0:00:16s
epoch 34 | loss: 81.77358| train_rmsle: 0.06646 | train_mae: 7.59283 | train_rmse: 10.64436| train_mse: 113.30241| valid_rmsle: 0.08297 | valid_mae: 8.10351 | valid_rmse: 11.40645| valid_mse: 130.10711|  0:00:16s
epoch 35 | loss: 80.90973| train_rmsle: 0.06941 | train_mae: 8.08428 | train_rmse: 11.17444| train_mse: 124.86817| valid_rmsle: 0.08408 | valid_mae: 8.55845 | valid_rmse: 11.79662| valid_mse: 139.16026|  0:00:17s
epoch 36 | loss: 80.50021| train_rmsle: 0.06939 | train_mae: 8.01048 | train_rmse: 11.27153| train_mse: 127.04745| valid_rmsle: 0.08504 | valid_mae: 8.50533 | valid_rmse: 12.04527| valid_mse: 145.08855|  0:00:17s
epoch 37 | loss: 83.8147 | train_rmsle: 0.06823 | train_mae: 7.95973 | train_rmse: 11.18233| train_mse: 125.04448| valid_rmsle: 0.08365 | valid_mae: 8.44855 | valid_rmse: 11.96856| valid_mse: 143.24655|  0:00:18s
epoch 38 | loss: 81.12941| train_rmsle: 0.06021 | train_mae: 7.19552 | train_rmse: 9.97624 | train_mse: 99.52543| valid_rmsle: 0.07572 | valid_mae: 7.56461 | valid_rmse: 10.72989| valid_mse: 115.13064|  0:00:18s
epoch 39 | loss: 81.76328| train_rmsle: 0.0573  | train_mae: 6.68887 | train_rmse: 9.46211 | train_mse: 89.53155| valid_rmsle: 0.07335 | valid_mae: 7.04418 | valid_rmse: 10.3499 | valid_mse: 107.12036|  0:00:18s
epoch 40 | loss: 79.60124| train_rmsle: 0.05757 | train_mae: 6.65413 | train_rmse: 9.39253 | train_mse: 88.21956| valid_rmsle: 0.07206 | valid_mae: 6.90928 | valid_rmse: 10.17331| valid_mse: 103.49632|  0:00:19s
epoch 41 | loss: 80.39076| train_rmsle: 0.05998 | train_mae: 6.60512 | train_rmse: 9.20351 | train_mse: 84.70451| valid_rmsle: 0.07692 | valid_mae: 6.94034 | valid_rmse: 10.10496| valid_mse: 102.11013|  0:00:20s
epoch 42 | loss: 80.96527| train_rmsle: 0.06059 | train_mae: 6.52234 | train_rmse: 9.1945  | train_mse: 84.53888| valid_rmsle: 0.07923 | valid_mae: 6.92578 | valid_rmse: 10.20386| valid_mse: 104.11884|  0:00:20s
epoch 43 | loss: 81.6344 | train_rmsle: 0.05838 | train_mae: 6.59534 | train_rmse: 9.42799 | train_mse: 88.88708| valid_rmsle: 0.07468 | valid_mae: 6.95785 | valid_rmse: 10.37243| valid_mse: 107.58738|  0:00:21s
epoch 44 | loss: 82.37762| train_rmsle: 0.05941 | train_mae: 6.90597 | train_rmse: 9.76634 | train_mse: 95.3814 | valid_rmsle: 0.07528 | valid_mae: 7.26681 | valid_rmse: 10.67667| valid_mse: 113.9913|  0:00:21s
epoch 45 | loss: 80.53418| train_rmsle: 0.06023 | train_mae: 6.86808 | train_rmse: 9.74401 | train_mse: 94.94577| valid_rmsle: 0.07718 | valid_mae: 7.23741 | valid_rmse: 10.69064| valid_mse: 114.28976|  0:00:22s
epoch 46 | loss: 81.71234| train_rmsle: 0.06337 | train_mae: 7.04944 | train_rmse: 10.07067| train_mse: 101.4184| valid_rmsle: 0.08096 | valid_mae: 7.48078 | valid_rmse: 11.05354| valid_mse: 122.18082|  0:00:22s
epoch 47 | loss: 82.81977| train_rmsle: 0.06499 | train_mae: 7.25382 | train_rmse: 10.35951| train_mse: 107.31944| valid_rmsle: 0.08119 | valid_mae: 7.67313 | valid_rmse: 11.16582| valid_mse: 124.67557|  0:00:23s
epoch 48 | loss: 80.89468| train_rmsle: 0.06728 | train_mae: 7.72394 | train_rmse: 10.84206| train_mse: 117.55033| valid_rmsle: 0.08271 | valid_mae: 8.18374 | valid_rmse: 11.50889| valid_mse: 132.45455|  0:00:23s
epoch 49 | loss: 81.99731| train_rmsle: 0.07811 | train_mae: 8.98644 | train_rmse: 12.25626| train_mse: 150.21598| valid_rmsle: 0.09142 | valid_mae: 9.41199 | valid_rmse: 12.88488| valid_mse: 166.02025|  0:00:24s
epoch 50 | loss: 82.21399| train_rmsle: 0.07878 | train_mae: 9.17119 | train_rmse: 12.35941| train_mse: 152.75492| valid_rmsle: 0.09093 | valid_mae: 9.55889 | valid_rmse: 12.93043| valid_mse: 167.196 |  0:00:24s
epoch 51 | loss: 81.67601| train_rmsle: 0.08219 | train_mae: 9.52483 | train_rmse: 12.63129| train_mse: 159.54947| valid_rmsle: 0.09401 | valid_mae: 9.89462 | valid_rmse: 13.14158| valid_mse: 172.7012|  0:00:25s
epoch 52 | loss: 81.42466| train_rmsle: 0.06958 | train_mae: 8.15976 | train_rmse: 11.34807| train_mse: 128.77868| valid_rmsle: 0.08328 | valid_mae: 8.60466 | valid_rmse: 12.0033 | valid_mse: 144.07927|  0:00:25s
epoch 53 | loss: 83.9483 | train_rmsle: 0.06576 | train_mae: 7.37673 | train_rmse: 10.55363| train_mse: 111.3791| valid_rmsle: 0.08252 | valid_mae: 7.837   | valid_rmse: 11.45226| valid_mse: 131.15422|  0:00:26s
epoch 54 | loss: 85.16499| train_rmsle: 0.06536 | train_mae: 7.63469 | train_rmse: 10.69185| train_mse: 114.31571| valid_rmsle: 0.07958 | valid_mae: 8.02161 | valid_rmse: 11.34231| valid_mse: 128.648 |  0:00:26s
epoch 55 | loss: 81.2396 | train_rmsle: 0.07024 | train_mae: 8.29431 | train_rmse: 11.39247| train_mse: 129.78831| valid_rmsle: 0.08383 | valid_mae: 8.73755 | valid_rmse: 11.99069| valid_mse: 143.77671|  0:00:27s
epoch 56 | loss: 80.07425| train_rmsle: 0.06854 | train_mae: 8.12138 | train_rmse: 11.23083| train_mse: 126.13157| valid_rmsle: 0.08328 | valid_mae: 8.6221  | valid_rmse: 11.88174| valid_mse: 141.1757|  0:00:27s
epoch 57 | loss: 80.20756| train_rmsle: 0.07362 | train_mae: 8.71857 | train_rmse: 11.90924| train_mse: 141.83  | valid_rmsle: 0.08828 | valid_mae: 9.19377 | valid_rmse: 12.61318| valid_mse: 159.09226|  0:00:28s
epoch 58 | loss: 79.55498| train_rmsle: 0.06499 | train_mae: 7.72337 | train_rmse: 10.7944 | train_mse: 116.51915| valid_rmsle: 0.07985 | valid_mae: 8.17775 | valid_rmse: 11.52696| valid_mse: 132.87089|  0:00:29s
epoch 59 | loss: 77.12682| train_rmsle: 0.06418 | train_mae: 7.76927 | train_rmse: 10.81561| train_mse: 116.97734| valid_rmsle: 0.07763 | valid_mae: 8.18993 | valid_rmse: 11.43803| valid_mse: 130.82852|  0:00:29s
epoch 60 | loss: 78.89399| train_rmsle: 0.07104 | train_mae: 8.57414 | train_rmse: 11.62162| train_mse: 135.06209| valid_rmsle: 0.08134 | valid_mae: 8.86898 | valid_rmse: 12.07541| valid_mse: 145.81561|  0:00:30s
epoch 61 | loss: 80.63917| train_rmsle: 0.06595 | train_mae: 7.94113 | train_rmse: 11.0481 | train_mse: 122.06052| valid_rmsle: 0.07907 | valid_mae: 8.38592 | valid_rmse: 11.71933| valid_mse: 137.34262|  0:00:30s
epoch 62 | loss: 76.70417| train_rmsle: 0.06538 | train_mae: 7.52699 | train_rmse: 10.54732| train_mse: 111.24592| valid_rmsle: 0.08061 | valid_mae: 8.03561 | valid_rmse: 11.31822| valid_mse: 128.10202|  0:00:31s
epoch 63 | loss: 81.1147 | train_rmsle: 0.06487 | train_mae: 7.3935  | train_rmse: 10.52234| train_mse: 110.71963| valid_rmsle: 0.08021 | valid_mae: 7.87792 | valid_rmse: 11.29635| valid_mse: 127.60748|  0:00:31s
epoch 64 | loss: 80.29302| train_rmsle: 0.06376 | train_mae: 7.11898 | train_rmse: 10.11034| train_mse: 102.21893| valid_rmsle: 0.07989 | valid_mae: 7.54485 | valid_rmse: 10.93119| valid_mse: 119.49086|  0:00:32s
epoch 65 | loss: 78.09252| train_rmsle: 0.06425 | train_mae: 7.11029 | train_rmse: 10.22034| train_mse: 104.45534| valid_rmsle: 0.08162 | valid_mae: 7.56625 | valid_rmse: 11.02136| valid_mse: 121.47045|  0:00:32s
epoch 66 | loss: 78.84208| train_rmsle: 0.07617 | train_mae: 8.84704 | train_rmse: 12.16494| train_mse: 147.98575| valid_rmsle: 0.09028 | valid_mae: 9.28858 | valid_rmse: 12.74551| valid_mse: 162.44798|  0:00:33s
epoch 67 | loss: 78.31943| train_rmsle: 0.08033 | train_mae: 9.37428 | train_rmse: 12.60629| train_mse: 158.91862| valid_rmsle: 0.09225 | valid_mae: 9.76203 | valid_rmse: 13.11389| valid_mse: 171.974 |  0:00:33s
epoch 68 | loss: 79.98423| train_rmsle: 0.06442 | train_mae: 7.69482 | train_rmse: 10.68865| train_mse: 114.2472| valid_rmsle: 0.07836 | valid_mae: 8.1061  | valid_rmse: 11.29977| valid_mse: 127.68472|  0:00:34s
epoch 69 | loss: 78.51353| train_rmsle: 0.06382 | train_mae: 7.56242 | train_rmse: 10.65868| train_mse: 113.60736| valid_rmsle: 0.07793 | valid_mae: 7.98718 | valid_rmse: 11.31016| valid_mse: 127.91977|  0:00:34s
epoch 70 | loss: 83.27703| train_rmsle: 0.05943 | train_mae: 6.99576 | train_rmse: 10.0455 | train_mse: 100.91207| valid_rmsle: 0.07424 | valid_mae: 7.3666  | valid_rmse: 10.70588| valid_mse: 114.61585|  0:00:35s
epoch 71 | loss: 82.31755| train_rmsle: 0.06645 | train_mae: 7.89069 | train_rmse: 11.04755| train_mse: 122.04845| valid_rmsle: 0.08179 | valid_mae: 8.35898 | valid_rmse: 11.74291| valid_mse: 137.89594|  0:00:35s
epoch 72 | loss: 77.25642| train_rmsle: 0.06986 | train_mae: 8.14105 | train_rmse: 11.32828| train_mse: 128.33004| valid_rmsle: 0.08661 | valid_mae: 8.66916 | valid_rmse: 12.08432| valid_mse: 146.0308|  0:00:36s
epoch 73 | loss: 77.67153| train_rmsle: 0.0761  | train_mae: 8.80625 | train_rmse: 12.04861| train_mse: 145.16892| valid_rmsle: 0.09277 | valid_mae: 9.36773 | valid_rmse: 12.82396| valid_mse: 164.45397|  0:00:36s
epoch 74 | loss: 78.31376| train_rmsle: 0.07087 | train_mae: 8.42928 | train_rmse: 11.61193| train_mse: 134.83703| valid_rmsle: 0.08627 | valid_mae: 8.93971 | valid_rmse: 12.39038| valid_mse: 153.52147|  0:00:37s
epoch 75 | loss: 75.94334| train_rmsle: 0.07179 | train_mae: 8.70442 | train_rmse: 11.46419| train_mse: 131.42771| valid_rmsle: 0.08571 | valid_mae: 9.11927 | valid_rmse: 12.06316| valid_mse: 145.51982|  0:00:37s
epoch 76 | loss: 84.77527| train_rmsle: 0.06271 | train_mae: 7.63831 | train_rmse: 10.38007| train_mse: 107.74591| valid_rmsle: 0.07726 | valid_mae: 8.03274 | valid_rmse: 11.03409| valid_mse: 121.75109|  0:00:37s
epoch 77 | loss: 77.65934| train_rmsle: 0.06596 | train_mae: 7.92593 | train_rmse: 10.95915| train_mse: 120.103 | valid_rmsle: 0.08056 | valid_mae: 8.44836 | valid_rmse: 11.71463| valid_mse: 137.23248|  0:00:38s
epoch 78 | loss: 78.89066| train_rmsle: 0.07931 | train_mae: 8.98327 | train_rmse: 12.1636 | train_mse: 147.95326| valid_rmsle: 0.09489 | valid_mae: 9.57519 | valid_rmse: 12.95522| valid_mse: 167.83762|  0:00:38s
epoch 79 | loss: 79.65054| train_rmsle: 0.06788 | train_mae: 8.1527  | train_rmse: 11.27306| train_mse: 127.08193| valid_rmsle: 0.08309 | valid_mae: 8.70998 | valid_rmse: 12.02446| valid_mse: 144.58753|  0:00:39s
epoch 80 | loss: 74.60933| train_rmsle: 0.07811 | train_mae: 9.13915 | train_rmse: 12.22153| train_mse: 149.3658| valid_rmsle: 0.09072 | valid_mae: 9.56546 | valid_rmse: 12.83294| valid_mse: 164.68424|  0:00:39s
epoch 81 | loss: 74.71951| train_rmsle: 0.0632  | train_mae: 7.98483 | train_rmse: 10.8622 | train_mse: 117.98738| valid_rmsle: 0.07577 | valid_mae: 8.36597 | valid_rmse: 11.48583| valid_mse: 131.92419|  0:00:40s
epoch 82 | loss: 77.93279| train_rmsle: 0.05861 | train_mae: 7.00583 | train_rmse: 9.89758 | train_mse: 97.96204| valid_rmsle: 0.07283 | valid_mae: 7.38885 | valid_rmse: 10.5464 | valid_mse: 111.22657|  0:00:40s
epoch 83 | loss: 73.77062| train_rmsle: 0.05795 | train_mae: 6.5573  | train_rmse: 9.35659 | train_mse: 87.5458 | valid_rmsle: 0.07214 | valid_mae: 6.8921  | valid_rmse: 10.03109| valid_mse: 100.62278|  0:00:41s
epoch 84 | loss: 69.63817| train_rmsle: 0.07182 | train_mae: 7.76222 | train_rmse: 10.24866| train_mse: 105.03508| valid_rmsle: 0.08803 | valid_mae: 8.00165 | valid_rmse: 10.80597| valid_mse: 116.76889|  0:00:41s
epoch 85 | loss: 74.66409| train_rmsle: 0.08376 | train_mae: 9.04196 | train_rmse: 11.54502| train_mse: 133.28748| valid_rmsle: 0.10186 | valid_mae: 9.28305 | valid_rmse: 12.11586| valid_mse: 146.79402|  0:00:42s
epoch 86 | loss: 75.04373| train_rmsle: 0.08051 | train_mae: 8.86272 | train_rmse: 11.31083| train_mse: 127.93496| valid_rmsle: 0.09792 | valid_mae: 9.04882 | valid_rmse: 11.90007| valid_mse: 141.61156|  0:00:42s
epoch 87 | loss: 75.08044| train_rmsle: 0.05827 | train_mae: 6.55229 | train_rmse: 9.13524 | train_mse: 83.45261| valid_rmsle: 0.07504 | valid_mae: 6.99377 | valid_rmse: 9.93642 | valid_mse: 98.73251|  0:00:43s
epoch 88 | loss: 72.08973| train_rmsle: 0.05281 | train_mae: 6.05157 | train_rmse: 8.90544 | train_mse: 79.30686| valid_rmsle: 0.06683 | valid_mae: 6.35082 | valid_rmse: 9.54229 | valid_mse: 91.05535|  0:00:43s
epoch 89 | loss: 75.42826| train_rmsle: 0.05317 | train_mae: 6.22425 | train_rmse: 8.93994 | train_mse: 79.92252| valid_rmsle: 0.06602 | valid_mae: 6.42275 | valid_rmse: 9.52123 | valid_mse: 90.65388|  0:00:44s
epoch 90 | loss: 70.92953| train_rmsle: 0.07003 | train_mae: 7.47411 | train_rmse: 10.30206| train_mse: 106.13241| valid_rmsle: 0.08593 | valid_mae: 7.91944 | valid_rmse: 11.00317| valid_mse: 121.0698|  0:00:44s
epoch 91 | loss: 72.06437| train_rmsle: 0.05163 | train_mae: 6.38714 | train_rmse: 9.3117  | train_mse: 86.70768| valid_rmsle: 0.06425 | valid_mae: 6.69077 | valid_rmse: 9.98201 | valid_mse: 99.64051|  0:00:45s
epoch 92 | loss: 72.02595| train_rmsle: 0.05611 | train_mae: 6.99326 | train_rmse: 10.15077| train_mse: 103.03815| valid_rmsle: 0.06996 | valid_mae: 7.49195 | valid_rmse: 10.94927| valid_mse: 119.88657|  0:00:46s
epoch 93 | loss: 74.95981| train_rmsle: 0.09338 | train_mae: 9.6549  | train_rmse: 13.04332| train_mse: 170.12815| valid_rmsle: 0.11549 | valid_mae: 10.28413| valid_rmse: 13.90262| valid_mse: 193.28285|  0:00:46s

In [28]:
dataset_name='teas aprox'

In [29]:
# Deprecated : best model is automatically loaded at end of fit
# clf.load_best_model()

preds = clf.predict(X_test)

y_true = y_test

test_score = mean_squared_error(y_pred=preds, y_true=y_true)

print(f"BEST VALID SCORE FOR {dataset_name} : {clf.best_cost}")
print(f"FINAL TEST SCORE FOR {dataset_name} : {test_score}")

BEST VALID SCORE FOR teas aprox : 69.06783894669711
FINAL TEST SCORE FOR teas aprox : 88.39034908771006

In [30]:
clf.feature_importances_

array([3.14764681e-01, 8.43611091e-02, 5.11797623e-02, 9.18162542e-02,
       1.53563519e-05, 1.21185189e-01, 4.50448095e-02, 1.78444844e-01,
       1.96208117e-05, 1.10811755e-01, 6.62132207e-06, 1.49340392e-05,
       0.00000000e+00, 2.33506361e-03])

In [38]:
y_true[10:20]

array([[53.  ],
       [42.58],
       [53.1 ],
       [25.  ],
       [14.7 ],
       [44.  ],
       [55.  ],
       [60.01],
       [53.  ],
       [58.1 ]])

In [37]:
preds[10:20]

array([[47.520065],
       [49.565594],
       [44.806843],
       [21.192265],
       [24.578106],
       [40.132202],
       [56.820724],
       [50.10488 ],
       [42.26044 ],
       [52.042847]], dtype=float32)